@charset "utf-8";
/* base css */

@include spacing(10);
@include spacing(20);
@include spacing(30);
@include spacing(40);
@include spacing(50);

/*/////////// link ////////////*/


a{
 @include link_color($main_color);
 text-decoration: none;
}

a:link {
	color: $link_color;
}
a:visited {
	color: $link_color;
}
a:hover {
    color:$hover_color;
}
a.img_bg_white{
	display : inline-block;
	background-color : #fff;
}
a.img_bg_white img{
  	opacity: 0.7;
 	filter: alpha(opacity=70); 	
}

/* not transparence

a:hover img{
  	opacity: 1;
}

*/

/*/////////// clear ////////////*/

.clear {
clear: both;
}

/* clearfix css */
.clearfix:after {
content: ".";
display: block;
clear: both;
height: 0;
visibility: hidden;
}
.clearfix {
min-height: 1px;
}
* html .clearfix {
height: 1px; /*¥*//*/
height: auto;
overflow: hidden; /**/
}

