@charset "utf-8";
/* common css */
$container_width:1060px;
$container_padding:30px;
body{
	font-size: 14px;
	line-height: 1.5em;
	color: $text_color;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;	
	background : $bg_color none no-repeat 0 0 scroll;	
}

/* reset */
h1,h2,h3,h4,h5,h6{
	margin : 0px;
	padding : 0px;
}
.container{
	width : ($container_width + $container_padding);
}

p{ margin : 0px; }

a:hover{text-decoration : none;}

@media screen and (max-width: $screen_xs_max) {
	#screen_type{ content : "xs"; }
}
@media screen and (min-width: $screen_sm_min) and (max-width: $screen_sm_max) {
	#screen_type{ content : "sm"; }
}
@media screen and (min-width: $screen_md_min) and (max-width: $screen_md_max) {
	#screen_type{ content : "md"; }
}
@media screen and (min-width: $screen_lg_min) {
	#screen_type{ content : "lg"; }
}
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/

$primary_width:760px;
$sidebar_width:280px;
$primary_margin:$container_width - $primary_width - $sidebar_width;

#wrapper {
	min-width: 1090px;
	overflow: hidden;
}
.wrapper{
	max-width : $container_width;
	margin : 0px auto;
}

.primary{	
	.primary-row{
		margin-top: 40px;
		.primary-row{
			margin-top: 20px;
		}
		.primary-row:first-child{
			margin-top: 0px;
		}
	}
	.primary-row:first-child{
		margin-top: 0px;
	}
}

.sidebar{	
	.sidebar-row{
		margin-top: 20px;
	}
	.sidebar-row:first-child{
		margin-top: 0px;
	}
}

.two-cols-left{	
	.primary{
		width: $primary_width;
		float : left;
		margin-left: $sidebar_width + $primary_margin;
	}
	.sidebar{
		width: $sidebar_width;
		float : left;		
		margin-left: - ($primary_width+ $sidebar_width + $primary_margin);
	}
}

.two-cols-right{
	.primary{
		float : left;
		width: $primary_width;
		margin-right: $primary_margin;
	}
	.sidebar{
		float : left;
		width: $sidebar_width;
	}
}


/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em{ line-height : 2em; }
.ln15em{ line-height : 1.5em; }

/*/////// table ///////*/
table{
	border-width : 1px;
	border-style : solid;
	border-collapse : collapsed;
	width : 100%;
	tr{			
		th{
			
		}
		th,td{
			padding: 9px 20px;
			border : 1px solid $border_color;
		}
	}
}


/* LAYOUT */

header{
	border-top: 3px solid #502800;	
	.header-content{
		.logo{
			float : left;
			margin-right: 25px;
			margin-top: -3px;
		}		
		.header-info{
			float: left;
			.header-info1{				
				.header-info1-text{
					padding: 35px 0 25px;
					float: left;				
					color: #F03745;
					font:{
						size: 16px;
						weight: bold;
					}
				}
				.header-info1-tel{					
					padding: 30px 0 25px 45px;
					float: left;
				}
				.header-info1-con{					
					padding: 20px 0 25px 20px;
					float: left;
				}
				.header-info1-estimation{					
					padding: 20px 0 25px 5px;
					float: left;
				}
			}
			
			.header-info2{				
				list-style: none;
				padding: 0;
				margin: 0;
				li{							
					float : left;					
					position : relative;
					border-left: 1px dotted #ccc;						
					a{
						display: block;
						padding: 10px 23px;									
						span{
							display: block;
							text-align: center;
						}
						span.first-text{
							line-height: 10px;								
							padding-top: 3px;															
							color: #2A1811;		
							font-family: Kozuka Gothic Pr6N;
							font:{
								size: 15px;
								weight: bold;
							}
						}
						span.second-text{
							padding-top: 7px;
							line-height: 10px;
							color: #E95277;								
							font-size: 12px;				
							font-size: Myriad Pro;
						}
					}
				}
				li:last-child{
					border-right: 1px dotted #ccc;
				}
				li a:hover{
					span.first-text{
						color: $hover_color;
					}					
				}
			}
		}
	}
}

nav{
	background: url("../img/common/nav_bg.jpg") repeat-x 0 0 scroll;		
	#gNavi{
		background: url("../img/common/navi_icon.jpg") no-repeat left 0 scroll;		
		background-position: 10px;
		.dynamic{	
			width: 853px;
			margin-left: 215px;
			list-style: none;			
			padding : 0;
			li{			
				padding: 13px 0;
				margin-right: 1px;
				float: left;
				a{
					display: block;										
				}								
			}	
			li:last-child{
				width: 158px !important;
			}
			li:last-child :hover{
				width: 157px !important;
			}
			li a:hover{
				width: 158px;
			}
		}	
	}
}

#top-breadcrumb{	
	.home{
		color: #333;
	}
	a:hover{
		color: $hover_color;		
	}
}

#content{
	padding : 42px 0px 0px;
	/*.primary-row{
		margin-top : 30px;
		.primary-row{
			margin-top: 20px;
		}
	}

	.primary-row:first-child{
		margin-top: 0;
	}*/

	/* message */
	.message-left{
		.image{
			float : left;
		}
		.text{
			margin-left: 20px;
			float : left;
		}
	}

	.message-right{
		.image{
			float : right;
		}
		.text{
			float : left;
			margin-right: 20px;
		}
	}

	.message-280{
		.image{ width : 280px; }
		.text{ width : $primary_width - 280px - 20px; }
	}
	
	.message-299{
		margin-top: 20px;
		.image{ width : 299px; }
		.text{ 
			width : $primary_width - 299px - 20px; 
			line-height: 1.8em;
			margin-top: -5px;
		}
	}	
	
	.message-340{	
		margin-top: 20px;
		.image{ width : 340px; }
		.text{ 
			width : $primary_width - 340px - 20px; 			
		}
	}
	
	.message-342{
		margin-top: 20px;
		.image{ width : 342px; }
		.text{ 
			width : $primary_width - 342px - 20px; 
			line-height: 1.8em;
			margin-top: -5px;
		}
	}

	/* message-group */
	.message-group{
		.message-row{
			margin-top: 20px;
			.message-col{
				float : left;
			}
		}
		.message-row:first-child{
			margin-top: 0;
		}
	}
	.message-group.message-col240{
		.message-col{
			width: 240px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}
	.message-group.message-col370{
		.message-col{
			width: 370px;	
			margin-left: 20px;		
		}
		.message-col:first-child{
			margin-left: 0;
		}
	}	
	.message-classic{
		.message-col{
			padding: 10px;
			box-shadow: 0 0 4px 4px #e9e9e9;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;			
			.title{
				color : $main_color;
				font-size: 16px;
				line-height: 30px;
			}
			.image{
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.text{
				margin-top : 7px;
				line-height: 1.5em;
			}
		}
	}

	/* heading */
	.h2-title{ 
		background: $bg_color url("../img/common/top_h2.jpg") no-repeat 0 bottom scroll;
		color: #482B1D;
		padding-bottom: 15px;
		font:{
			size: 18px;
			weight: bold;
		}
	}
	.h2_title,
	.h3_title{
		margin-bottom: 15px;
	}
	
	/*------ side-contact -----*/
	.side-con-bg{
		margin-top: -15px;
		margin-bottom: 10px;
		background: $bg_color url("../img/common/side_con_bg.jpg") no-repeat 0 0 scroll;
		position: relative;
		height: 239px;
		.side-con-text{
			position: relative;
			color: #F03745;
			top: 30px;
			left: 15px;
			font-family: Kozuka Gothic Pr6N !important;
			.side-con-text1{
				font:{
					size: 16px;
					weight: bold;
				}
			}
			.side-con-text2{
				padding-top: 3px;
				font:{
					size: 25px;
					weight: bold;
				}
			}
		}
		.side-con-btn{
			position: absolute;
			top: 93px;
			left: 15px;
		}		
	}
	
	
	.side-space{
		margin-top: 10px;
	}
	
	/* sideMenu */
	#sideMenu{
		background: $bg_color url("../img/common/side_menu_bg.jpg") no-repeat 0 0 scroll;
		height: 352px;
		.sideMnu-title{			
			padding-top: 23px;
			padding-left: 18px;
			color : #52301F;
			font-family: Kozuka Gothic Pr6N;
			font:{
				size: 18px;
				weight: bold;
			}
		}
		.sideMnu{
			list-style: none;
			margin : 0;		
			padding: 20px 10px 13px 10px;
			li{			
				background-color: $sub_color2;
				margin-top: 1px;
				border-bottom: none;			
				a{										
					display: block;
					line-height: 53px;				
					padding-left : 10px;					
					position : relative;
					font-family: Kozuka Gothic Pr6N;
					font:{
						size: 17px;
						weight: bold;
					}
					.sideMnu-step{
						color: #F03745;
						font-size: 14px;
						padding-right: 20px;
						font-weight: normal;
					} 
					i.fa{
						position : absolute;
						color: #ddd;
						font-size: 7px;
						right : 13px;
						top : 0;
						line-height: 53px;
					}
				}
				a:hover{					
					color: $hover_color;
					i.fa{
						color: $hover_color;
					}
				}
			}			
		}
	}

	/* sideNavi */
	.sideNavi-content{		
		list-style: none;
		margin : 0;		
		padding: 0;
		li{			
			border: 1px solid #C9BDB7;
			border-bottom: none;	
			background-color: #FEFCFC;
			a{
				border-left: 8px solid #958074;		
				display: block;
				line-height: 40px;				
				padding-left : 16px;					
				position : relative;
				font:{
					size: 15px;
					weight: bold;
				}
				i.fa{
					position : absolute;
					color: #999;
					font-size: 7px;
					right : 13px;
					top : 0;
					line-height: 40px;
				}
			}
			a:hover{
				border-left: 8px solid #f67a12;
				color: $hover_color;
				i.fa{
					color: $hover_color;
				}
			}
		}
		li:last-child{
			border-bottom: 1px solid #C9BDB7;
		}
	}
}


/* CONTACT FORM */
/* wpcf7 */
.wpcf7{	
	.require, .red {
		color:#F66;
	}
	
	.wpcf7-submit {

	}
	table tr th,td{ font-size : 13px; }
	input{
		margin : 3px 0px;
		font-size: 14px;
		line-height: 30px;
	}
	select{
		width: 250px;
		font-size: 14px;
		line-height: 1.5em;
	}
}


footer{
	margin: 50px 0 13px;
	border-top: 3px solid #502800;	
	.footer-content1{
		.footer-logo{
			margin-top: -20px;
			float: left;	
		}		
		.footer-status{
			float: left;			
			padding-top: 34px;
			padding-left: 30px;
			color: #F03745;
			font:{
				size: 16px;
				weight: bold;
			}
		}
		.footer-tel{
			float: left;
			padding-left: 115px;
			padding-top: 30px;
		}
		.footer-con{
			float: left;
			padding-left: 20px; 
			padding-top: 24px;			
		}
		.footer-estimation{
			float: left;
			padding-left: 5px;          
			padding-top: 24px;						
		}
	}	
	.footer-content2{
		margin-top: 35px;
		.footer-navi1{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				float: left;
				a{	
					display: block;
					padding: 0 15px;
					border-left: 1px solid #472B1A;
				}
			}
		}
	}
	
	.footer-content3{
		margin-top: 40px;
		.footer-navi2{		
			list-style: none;
			margin:0;
			padding: 0; 
			float: left;
			li{
				display: inline-block;
				padding-right: 15px;
				.fa{
					padding-right: 5px;				
					font-size: 12px;
					color: #301B13;
				}
				a{
					font-size: 12px;
					color: #301B13;
				}				
			}	
			li a:hover{
				color: $hover_color;				
			}
		}
		.footer-copyright{
			float: right;
			font-size: 12px;
			color: #301B13;
		}
	}		
}