@charset "UTF-8";
/* CSS Document */

@import '_vars';
@import '_base';
@import '_common';

/* part */
.sideBlog{
	.sideBlog-title{
		color: $main_color;
		font-size: 16px;
		line-height: 30px;
		border-bottom: 2px solid $main_color;
		margin-bottom: 10px;
	}
	ul{
		padding: 0px;
		margin: 0 0 0 10px;
		list-style: none;
	}
}
#part-blog{
	.part-blog-content{		
		padding: 10px 15px;	
		.item{
			border-top : 1px dotted $border_color;
			.date{
				color : #2369ae;
				font-weight: bold;
				float : left;
				width: 100px;
			}
			.date,.title{
				line-height: 40px;
			}
		}
		.item:first-child{
			border-top : none;
		}
	}
}

/* page content */
#content{
	
	/* top */
	.top-main1{		
		background: $bg_color url("../img/top/top_main_img1_bg.jpg") no-repeat 0 0 scroll;
		position: relative;
		height: 323px;		
		.top-main1-btn{
			position: absolute;
			bottom: 25px;
			right: 15px;
			img{
				@include border_radius(10px);
			}
		}	
		.top-main1-btn a:hover{ border-radius:10px;}
	}
	
	.top-box1-content{	
		margin-top: 25px;
		.top-box1-info{
			position: relative;			
			width: 188px;	
			float: left;			
			border-left: 1px solid $border_color;			
			padding: 0 10px;
			.top-box1-img{	
				text-align: center;
			}
			.top-box1-icon{
				position: absolute;
				top: -18px;
				right: -10px;
				z-index: 9999;
			}
			.top-box1-title{	
				text-align: center;
				padding: 14px 0;
				color: #F67A12;
				font:{
					size: 18px;
					weight: bold;
				}
			}
			.top-box1-text{
				text-align: justify;
				color: #472B1A;
				font-size: 13px;
			}
			.top-box1-btn{
				padding: 20px 0;
			}
		}
		.top-box1-info:last-child{
			border-right: 1px solid $border_color;	
		}
	}
	
	.top-main2-content{
		.top-main2-img1{
			float: left;
		}
		.top-main2-img2{
			float: left;
			margin: 29px 0 0 15px;
		}
	}
	
	.top-video{
		background-color: #F1F0EF;
		padding: 18px 16px;
		.top-video1{
			float: left;
		}
		.top-video2{
			float: left;
			margin-left: 12px;
		}
	}
	
	.top-box2-content{			
		.top-box2-info{				
			width: 253px;	
			float: left;			
			border-left: 1px solid $border_color;			
			padding: 0 16px;
			.top-box2-img{	
				text-align: center;
			}			
			.top-box2-title{	
				text-align: left;
				padding: 15px 0;
				color: #F9792C;
				font:{
					size: 22px;
					weight: bold;
				}
			}
			.top-box2-text{
				text-align: justify;
				color: #472B1A;
				font-size: 14px;
			}
			.top-box2-btn{
				padding: 20px 0;
			}
		}
		.top-box2-info:last-child{
			border-right: 1px solid $border_color;	
		}
	}
	
	.top-part-flow{
		margin-top: 10px;
	}
	
	.top-part-contact{
		margin-top: 8px;		
		background: $bg_color url("../img/top/top_part_contact.jpg") no-repeat 0 0 scroll;
		position: relative;
		height: 145px;		
		.top-part-contact-btn{
			position: absolute;
			bottom: 52px;
			right: 147px;
		}		
	}
	
	
	#slider{		
		margin-top: 20px;
		padding : 10px 30px;
		position : relative;
		.slider-nav-item{
			position : absolute;		
			top : 70px;
			i{
				color : #CECEBE;			
				font-size: 25px;
			}
		}
		.slider-nav-left{
			left : 10px;
			
		}
		.slider-nav-right{
			right : 10px;		
		}
		.slider-items{		
			height : 154px;
			width: 670px;
			margin: 0 auto;
			overflow: hidden;
			ul{
				width: 1390px;
				margin : 0px;
				padding : 0px;
				li {
					margin: 0 5px;
					display: inline-block;  
					border: 2px solid #CECEBF;
					@include border_radius(2px);
				}					
			}				
		}
	}
	
	/*-----page-blog----*/
	.flow-top-content{
		margin: 15px 0 26px; 
		background : transparent url("../img/content/flow_content_top_img.jpg") no-repeat 0 0 scroll;
		.top-content-title{
			color: #2C1912;
			font-family: Kozuka Gothic Pr6N !important;
			line-height: 140px;
			padding-left: 35px;
			font:{
				size: 37px;
				weight: bold;
			}
		}
	}
	.flow-top-text{
		color: $sub_color3;
	}
	.flow-content1{
		margin: 25px 0 30px;
		line-height: 1.8em;
	}
	.flow-content-arrow{
		margin-top: 20px;
		border-top: 1px dotted #bbb;
		text-align: center;
	}	
	#flow-content-info{
		margin-top: 30px;
	}
	.flow-link{
		color: #F9792C;
		text-decoration: underline;
	}
	.flow-link:hover{
		text-decoration: none;	
	}
	
	/*----- Common ----*/
	.sub-top-content{
		margin: 15px 0 20px; 		
		.sub-top-title{
			color: #2C1912;
			font-family: Kozuka Gothic Pr6N !important;
			line-height: 150px;				
			font:{
				size: 37px;
				weight: bold;
			}
			.sub-title-step{
				padding-left: 25px;
				padding-right: 13px;
				color: #E95277;
				font-size: 30px;
				font-style: italic;
			}
		}
	}
	
	.sub-top-text{
		color: $sub_color3;
		line-height: 1.8em;
	}
	
	.step-content-bg{
		margin: 0 70px;		
		background-color: #DFDFD0;
		padding: 12px 15px;
		@include border_radius(10px);		
		.step-info-left{
			font-family: Kozuka Gothic Pr6N;
			width: 288px;
			float: left;
			background-color: $sub_color2;
			@include border_radius(5px);
			border: 1px solid #BEBEB1; 
			padding: 0 23px;
			line-height: 81px;			
			color: #51301F;
			position: relative;	
			font:{
				size: 20px;
				weight: bold;
			}			
			.fa{				
				font-size: 50px;
				color: #FB9456;
				position: absolute;
				top: 15px;
			}
			.step-right{
				padding: 0 5px 0 27px;
				color: #E95277;		
				font-size: 16px;
				font-style: italic;				
			}
			.text-type{
				padding-left: 30px;
			}				
		}
		.step-info-left:hover,.step-info-right:hover{
			color: $main_color;
			border: 1px solid $main_color;
		}
		.step-info-right{
			font-family: Kozuka Gothic Pr6N;			
			width: 288px;
			float: right;
			background-color: $sub_color2;
			@include border_radius(5px);
			border: 1px solid #BEBEB1; 
			padding: 0 23px;
			line-height: 81px;			
			color: #51301F;
			position: relative;			
			font:{
				size: 20px;
				weight: bold;
			}
			.fa{				
				font-size: 50px;
				color: #FB9456;
				position: absolute;
				right: 23px;
				top: 15px;
			}
			.step-left{
				font-style: italic;
				padding-right: 5px;
				color: #E95277;		
				font-size: 16px;				
			}
		}			
	}
	
	.sub-content{
		margin-top: 23px;
		.sub-content-img{
			float: left;
			.sub-img-left{
				float: left;
				width: 225px;
			}
			.sub-img-right{
				float: right;
				margin-left:13px;				
				.sub-img-space{
					padding-bottom: 15px;
				}
			}
		}
		.sub-content-text{
			float: left;
			margin-left: 22px;
			width: 395px;
			.sub-title{
				color: #462B1D;
				line-height: 45px;
				padding-left: 12px;		
				background-color: #F2F0EA;
				font:{
					size: 18px;
					weight: bold;
				}
			}
			.sub-text{
				margin-top: 10px;
				line-height: 1.8em;
			}
			.sub-link{
				margin-top: 20px;
				color: #F8792C;				
				.fa{
					font-size: 14px;
					padding-right: 5px;
				}
				a{					
					text-decoration: underline;					
					color: #F8792C;
					font:{
						size: 16px;
						weight: bold;
					}
				}
				a:hover{
					text-decoration: none;
				}
			}
			.sub-link-title{
				color: #503526;
				padding: 22px 0;
				font:{
					size: 15px;
					weight: bold;
				}
				.fa{
					font-weight: bold;
					padding-right: 5px
				}
			}
			.sub-link-all{
				list-style: none;				
				margin: 0;
				width: 320px;
				padding-left: 5px;
				li{			
					width: 135px;
					float: left;
					display: inline-block;
					padding-left: 15px;
					.fa{
						color: #F8792C;
						font-size: 14px;
						padding-right: 5px;
					}
					a{					
						text-decoration: underline;					
						color: #F8792C;
						font-size: 15px;
					}				
				}
				li a:hover{
					text-decoration: none;
				}
			}
		}
	}
	
	/*------ Common-------*/
	
	
	/*-----page-color----*/
	.color-top-content{
		@extend .sub-top-content;
		background : transparent url("../img/content/color_content_top_img.jpg") no-repeat 0 0 scroll;
	}
	
	.color-content{		
		margin-top: 30px;
		.color-info{				
			width: 253px;	
			float: left;			
			border-left: 1px solid $border_color;			
			padding: 0 10px;			
			.color-img{	
				text-align: center;				
			}			
			.color-title{	
				text-align: left;
				padding: 15px 0;
				color: #F67A12;
				font:{
					size: 18px;
					weight: bold;
				}
			}
			.color-text{
				text-align: justify;
				color: $text_color;
				line-height: 1.8em;
				font-size: 13px;
				padding-bottom: 10px;
			}			
		}
		.color-info:last-child{
			border-right: 1px solid $border_color;	
		}
	}
	
	
	/*-----page-catch----*/
	.catch-top-content{
		@extend .sub-top-content;
		background : transparent url("../img/content/catch_content_top_img.jpg") no-repeat 0 0 scroll;
		.sub-top-title{
			line-height: 144px;
		}
	}
	
	/*-----page-type----*/
	.type-top-content{
		@extend .sub-top-content;
		background : transparent url("../img/content/type_content_top_img.jpg") no-repeat 0 0 scroll;
		.sub-top-title{
			line-height: 155px;
		}		
	}
	
	
	/*-----page-print----*/
	.type-top-content{
		@extend .sub-top-content;
		background : transparent url("../img/content/print_content_top_img.jpg") no-repeat 0 0 scroll;
		.sub-top-title{
			line-height: 143px;
		}		
	}	
	
	/*-----page-print----*/
	.print-clr{	
		color: #F67A12;
		font:{
			size: 14px;
			weight: bold;
		}
	}
	.print-top-content{
		@extend .sub-top-content;
		background : transparent url("../img/content/type_content_top_img.jpg") no-repeat 0 0 scroll;
		.sub-top-title{
			line-height: 155px;
		}
		
	}
	
	
	/*-----page-shape----*/
	.shape-top-content{
		@extend .sub-top-content;
		background : transparent url("../img/content/shape_content_top_img.jpg") no-repeat 0 0 scroll;
		.sub-top-title{
			line-height: 144px;
		}
	}
	.shape-text{
		line-height: 1.8em;
		margin-top: 20px;
	}	
	.shape-content-title{
		color: #462B1D;
		line-height: 45px;
		padding-left: 12px;		
		background-color: #F2F0EA;
		margin-bottom: 20px;
		font:{
			size: 18px;
			weight: bold;
		}
	}	
	.shape-content{				
		.shape-info{				
			width: 190px;	
			float: left;			
			border-left: 1px solid $border_color;			
			padding: 0 32px;
			height: 179px;
			.shape-img{	
				text-align: center;		
				line-height: 123px;
			}			
			.shape-title{					
				text-align: center;	
				padding-top: 5px;
				color: $text_color;
				font:{
					size: 18px;
					weight: bold;
				}
			}
			.shape-btn{
				padding-bottom: 5px;
				text-align: center;	
			}			
		}
		.shape-info:last-child{
			border-right: 1px solid $border_color;	
		}
	}
	
	.shape-content-text{
		margin-top: 25px;
		line-height: 1.8em;
		color: $sub_color3;
		.shape-clr{	
			color: #F67A12;		
		}
	}	
	
	
	/*-----page-datas----*/
	.datas-top-content{
		@extend .sub-top-content;
		background : transparent url("../img/content/datas_content_top_img.jpg") no-repeat 0 0 scroll;
		.sub-top-title{
			line-height: 140px;
			padding-left: 35px;
		}
	}
	.datas-top-content1{
		margin-top: 12px;
		.datas-top-content1-text{	
			float: left;
			.datas-top-content1-title{
				padding: 20px 0;
				color: #D31500;
				font:{
					size: 18px;
					weight: bold;
				}
			}
			.datas-info1-text{
				line-height: 1.8em;
				color: $sub_color3;
			}
		}
		.datas-top-content1-img{
			float: right;
		}		
	}
	.datas-list{
		list-style: none;
		padding: 0;
		margin: 0;
		li{	
			line-height: 55px;
			display: block;
			background : $bg_color url("../img/content/datas_content_icon.jpg") no-repeat 0 0 scroll;
			background-position: 10px;
			padding-left: 45px;
			border: 1px solid #B4B4B4;
			border-bottom: none;
			color: $sub_color3;
			font:{
				size: 16px;
				weight: bold;
			}			
			.datas-clr{
				color: #D80000;
			}
		}
		li:last-child{
			border-bottom: 1px solid #b4b4b4;
		}
		.datas-list-bg1{background-color: $sub_color2;}
		.datas-list-bg2{background-color:#F6F6F6;}
	}	
	.datas-top-content2{
		margin-top: 38px;
		.datas-top-content2-info1{
			float: left;
			width: 370px;
			.datas-top-content2-title{
				color: #462B1D;
				line-height: 45px;
				padding-left: 12px;		
				background-color: #F2F0EA;
				margin-bottom: 20px;
				font:{
					size: 17px;
					weight: bold;
				}
			}	
			.datas-top-content2-img{
				float: left;
			}
			.datas-top-content2-text{
				color: $sub_color3;
				width: 264px;
				float: left;
				margin-left: 15px;
			}
		}
		.datas-top-content2-info2{
			@extend .datas-top-content2-info1;
			float: right;
			.datas-top-content2-img{
				margin-left: -15px;
			}
			.datas-top-content2-text{
				margin-left: 8px;
			}				
		}
	}
	
	.datas-content-title{
		color: #462B1D;
		line-height: 45px;
		padding-left: 12px;		
		background-color: #F2F0EA;
		margin-bottom: 20px;
		font:{
			size: 18px;
			weight: bold;
		}
	}	
	.datas-content{				
		.datas-info{				
			width: 190px;	
			float: left;			
			border-left: 1px solid $border_color;			
			padding: 0 32px;
			height: 179px;
			.datas-img{	
				text-align: center;		
				line-height: 123px;
			}			
			.datas-title{					
				text-align: center;	
				padding-top: 5px;
				color: $text_color;
				font:{
					size: 18px;
					weight: bold;
				}
			}
			.datas-btn{
				padding-bottom: 5px;
				text-align: center;	
			}			
		}
		.datas-info:last-child{
			border-right: 1px solid $border_color;	
		}
	}
	.datas-content2{
		@extend .datas-content;
		.datas-info2{				
			@extend .datas-info;
			width: 146px;	
			padding: 0 12px;
		}
	}
	.datas-content3{
		@extend .datas-content;
		.datas-info3{				
			@extend .datas-info;
			width: 147px;	
			padding: 0 13px;
		}
	}
	.datas-content-left{
		float: left;
	}
	.datas-content-right{
		float: right;
	}
	.datas-content4-top-text{
		color: $sub_color3;
		margin: 24px 0 28px;
	}
	.datas-content4-email{	
		background : $bg_color url("../img/content/datas_content_iconemail.jpg") no-repeat left 0 scroll;
		padding-left: 45px;
		font:{
			size: 22px;
			weight: bold;
		}
		a{
			color: #F87F2A;
			text-decoration: underline;
		}		
	}	
	.datas-content4{
		margin: 55px 0 35px;
		.datas-content4-left{
			float: left;
			width: 370px;
			.datas-content4-title{
				color: #462B1D;
				line-height: 45px;
				padding-left: 12px;		
				background-color: #F2F0EA;
				margin-bottom: 20px;
				font:{
					size: 18px;
					weight: bold;
				}
			}	
			.datas-content4-text1{
				line-height: 1.8em;
				color: $sub_color3;
			}
			.datas-content4-links{
				padding-top: 20px;
				line-height: 1.8em;
				color: $sub_color3;
				.datas-links-a{
					text-decoration: underline;
					padding-left: 10px;
				}				
			}			
		}
		.datas-content4-right{
			@extend .datas-content4-left;
			float: right;
			.datas-content-text2{
				padding-top: 25px;
				line-height: 1.8em;
			}
		}
	}
	
	
	/*-----page-glossary----*/
	.glossary-top-content{
		@extend .sub-top-content;
		background : transparent url("../img/content/glossary_content_top_img.jpg") no-repeat 0 0 scroll;
		.sub-top-title{
			line-height: 144px;
			padding-left: 35px;
		}
	}
	.glossary-list{
		margin-top: 10px;
		.glossary-list-title{
			color: #503526;
			background-color: #DFDFCF;
			line-height: 47px;
			padding-left: 15px;
			border-radius: 10px 10px 0 0;
			font:{
				size: 18px;
				weight: bold;
			}
		}
		.glossary-list-info{
			border-radius: 0 0 10px 10px;
			border: 2px solid #DFDFCE;
			border-top: none;
			background-color: $sub_color2;					
			padding: 15px 25px 23px 8px;
			.glossary-list-info1{
				list-style: none;
				padding: 0;
				margin: 0;	
				li{			
					float: left;
					display: inline-block;
					padding-left: 15px;
					.fa{
						color: #F8792C;
						font-size: 14px;
						padding-right: 5px;
					}
					a{					
						text-decoration: underline;					
						color: #F8792C;
						font-size: 15px;
					}				
				}
				li a:hover{
					text-decoration: none;
				}
			}
			.glossary-list-info2{
				@extend .glossary-list-info1;
				padding-top: 8px;
			}
		}
	}
	.glossary-content{
		.glossary-title{
			color: #462B1D;
			line-height: 45px;
			padding-left: 12px;		
			background-color: #F2F0EA;
			margin-bottom: 20px;
			font:{
				size: 18px;
				weight: bold;
			}
		}
		.glossary-text{
			color: $sub_color3;			
			.glossary-space{
				padding-top: 25px;
			}
		}
	}
	
	
	/*-----page-price----*/
	.price-top-content{
		@extend .sub-top-content;
		background : transparent url("../img/content/price_content_top_img.jpg") no-repeat 0 0 scroll;
		.sub-top-title{
			line-height: 146px;
			padding-left: 35px;
		}
	}
	
	.price-title{
		color: #462B1D;
		line-height: 45px;
		padding-left: 12px;		
		background-color: #F2F0EA;
		margin-bottom: 14px;
		font:{
			size: 18px;
			weight: bold;
		}
	}
	
	.price-content1{
		.price-img{	
			width: 250px;
			float: left;
		}
		.price-text{
			float: right;
			.price-text-title{
				margin-bottom: 12px;
				color: #462B1D;				
				font:{
					size: 17px;
					weight: bold;
				}
				.fa{
					font-weight: bold;
					padding-right: 5px
				}
			}
			.price-table1{				
				tr td{
					padding: 9px 0;
					width: 122px;
					text-align: center;
					color: #452B19;
					font-size: 16px;
				}
				.table1-clr1{background-color: #eee;}
				.table1-clr2{background-color: #FCF9F8;}
			}
		}
	}
	
	.price-content2{
		margin: 10px 0;
		background-color:#F5F5F1;
		@include border_radius(10px);
		padding: 20px 24px 20px 18px;		
		.price-icon{
			float: left;
		}
		.price-p1{
			float: left;
			padding-left: 15px;	
			padding-top: 20px;
			color: $sub_color3;
			font:{
				size: 30px;
				weight: bold;
			}
		}
		.price-p2{
			float: left;
			padding-left: 20px;
			padding-top: 20px;
			color: #FF3353;
			font:{
				size: 58px;
				weight: bold;
			}
			.unit{
				font:{
					size: 31px;
					weight: bold;
				}
			}
		}
		.price-btn-small{
			float: right;
		}
	}
	
	.price-table2{
		margin-top: 10px;
		.price-table2-clr{background-color: #FEEFBC !important;}
		tr th, td{
			text-align: center;
			padding: 10px 0;
		}
		tr:first-child{
			width: 111px;
			background-color: #FEEFBC;
			font:{
				size: 16px;
				weight: bold;
			}
		}
		tr th:first-child{
			background-color: #FFF9E1;
			width: 203px;	
			font:{
				size: 14px;
				weight: bold;
			}
		}
		tr td{
			width: 111px;
			color: #FF3354;
			font:{
				size: 16px;
				weight: bold;
			}
		}		
	}
	
	.price-btn-large{
		margin-top: 20px;
		text-align: center;
	}
	
	/*-----page-about----*/
	.about-top-content{
		@extend .sub-top-content;
		background : transparent url("../img/content/price_content_top_img.jpg") no-repeat 0 0 scroll;
		.sub-top-title{
			line-height: 140px;
			padding-left: 35px;
		}
	}
	.about-content-top{
		margin-top: 20px;
		background : transparent url("../img/content/about_content_top.jpg") no-repeat 0 0 scroll;
		height: 428px;
		position: relative;
		.about-top-title{
			position: absolute;
			top: 15px;
			left: 10px;
			color: #FCF8F8;
			font:{
				size: 25px;
				weight: bold;
			}
		}
		.about-top-list{	
			position: absolute;
			top: 75px;
			left: 183px;
			margin: 0;
			padding: 0;
			list-style: none;
			li{	
				line-height: 35px;
				display: block;
				background : transparent url("../img/content/about_content_icon.jpg") no-repeat 0 0 scroll;
				background-position: 10px;
				padding-left: 37px;				
				color: $text_color;
				text-shadow: $sub_color2 0px 0px 5px;
				font:{
					size: 17px;
					weight: bold;
				}							
			}			
		}
	}
		
	.about-content{		
		margin-top: 25px;
		.about-info{				
			width: 253px;	
			float: left;			
			border-left: 1px solid $border_color;			
			padding: 0 15px;			
			.about-img{	
				text-align: center;				
			}			
			.about-title{	
				text-align: left;
				padding: 15px 0;
				color: #F8792C;				
				.about-title-l{
					font:{
						size: 30px;
						weight: bold;
					}
				}
				.about-title-s{					
					font:{
						size: 22px;
						weight: bold;
					}
				}
			}
			.about-text{
				text-align: justify;
				color: $text_color;
				line-height: 1.8em;
				font-size: 14px;
				padding-bottom: 15px;
			}			
		}
		.about-info:last-child{
			border-right: 1px solid $border_color;	
		}
	}
	.about-content2{	
		margin-top: 20px;
		border-bottom: 1px dotted #bbb;		
		padding-bottom: 20px;
		.image{
			width : 344px;
			float : left;
			border: 1px solid #ddd;
		}
		.text{	
			width: 395px;
			margin-left: 20px;
			float : left;
			.about-content2-title{
				color: #F8792C;
				font:{
					size: 25px;
					weight: bold;
				}
			}
			.about-content2-text{	
				margin-top: 20px;
				text-align: justify;
			}
		}
	}	
	.about-content2:last-child{
		border-bottom: none;
	}
		
	
	
	/*-----page-service----*/
	.service-top-content{
		@extend .sub-top-content;
		background : transparent url("../img/content/service_content_top_img.jpg") no-repeat 0 0 scroll;
		.sub-top-title{
			line-height: 140px;
			padding-left: 35px;
		}
	}
	
	.service-top-text1, .service-top-text2{
		color: #F8792C;
	}
	.service-text-large{
		color: #F8792C;	
		font:{
			size: 29px;
			weight: bold;
		}
	}
	
	.service-text-small{
		color: #F8792C;	
		font:{
			size: 22px;
			weight: bold;
		}
	}
	
	.service-top-text3{
		line-height: 1.8em;
		color: $sub_color3;
		padding-top: 15px;
	}
	
	.service-top-text4{
		width: 382px;		
		@extend .service-top-text3;
	}
	
	.service-content1{
		margin-top: 30px;
		background : transparent url("../img/content/service_content1_bg.jpg") no-repeat 0 0 scroll;
		height: 517px;
		position: relative;
		.service-content1-title{
			position: absolute;
			top: 20px;
			left: 20px;
			width: 356px;
			color: $sub_color2;
				font:{
				size: 31px;
				weight: bold;				
			}
		}
		.service-content1-human{
			position: absolute;
			top: -153px;
			right: -1px;
		}
		.service-content-list1{
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 105px;
			left: 99px;
			li{
				width: 175px;				
				padding: 40px 10px;
				text-align: center;
				height: 125px;
				color: $sub_color3;
				line-height: 1.4em;
				font:{	
					size: 17px;
					weight: bold;
				}
			}
		}
		.service-content-list2{
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 105px;
			left: 418px;
			li{
				width: 342px;				
				padding: 18px;				
				height: 125px;
				color: $sub_color3;
				line-height: 1.4em;
				font:{	
					size: 17px;
					weight: bold;
				}
			}		
		}
	}
	
	.service-content2{
		margin-top: 15px;
		background : transparent url("../img/content/service_content2-bg.jpg") no-repeat 0 0 scroll;
		height: 255px;
		position: relative;
		.service-content2-text{
			position: absolute;
			top: 143px;
			left: 380px;
			width: 364px;
			color: $sub_color3;
			line-height: 1.8em;
		}
	}
	
	.service-content2-info{
		margin-bottom: 40px;
		padding: 10px 20px 20px 20px;
		border: 3px solid #FCC8A9;
		border-top: none;
		.service-content2-title{
			color: #462B1D;
			line-height: 45px;
			padding-left: 12px;		
			background-color: #F2F0EA;
			margin-bottom: 20px;
			font:{
				size: 18px;
				weight: bold;
			}
		}
		
		.service-info{		
			margin-top: 30px;
			.service-col{				
				width: 238px;	
				float: left;			
				border-left: 1px solid $border_color;			
				padding: 0 12px;			
				.service-img{	
					text-align: center;				
				}			
				.service-title{							
					text-align: left;
					padding: 15px 0 5px;
					color: #F9792C;
					font:{
						size: 22px;
						weight: bold;
					}
				}						
			}
			.service-col:last-child{
				border-right: 1px solid $border_color;	
			}
		}
		
		.serive-text{
			margin-top: 15px;
			color: #000;
			font-family: Kozuka Gothic Pr6N;
			font-size: 15px;
		}
	}	
	

	/*-----page-example----*/
	.example-content{		
		.example-content-info{
			margin-top: 30px;
			.content-text{
				padding-top : 20px;
			}
			.image{
				img{
					max-width: 100%;
					height: auto;
				}
			}
			.example-ctf-table table{
				width: 100%;
				th{
					width: 130px;
					background-color : #FCE9EC;
					font-weight: normal;
				}
				td{
					background-color : #EEEEEE;
				}
				th,td{
					border : 1px solid #FFF;
					font-size: 13px;
					padding : 10px 5px; 
				}
			}
		}
		.example-group-content-row:first-child{
			margin-top: 0px;
		}
	}
	
	
	/*-----page-estimation----*/
	.wpcf7 .estimation-table {margin-top: 20px;}
	
	.wpcf7 .estimation-table th, .wpcf7 .estimation-table td {
	  padding: 10px 10px;
	  border: 1px solid $text_color;
	}
	.wpcf7 .estimation-table th {
	  background-color: $main_color;
	  color: $text_color;
	  font-size: 14px;
	  vertical-align: text-top;
	  width: 150px;
	}
	.wpcf7 .estimation-table input {	  
	  font-size: 14px;
	  line-height: 18px;
	}
	
	.list-inline li:first-child {
	  margin-left: 0px;
	}
	.list-inline li {
	  float: left;
	  margin-left: 10px;
	}
	
	.small {
	  font-size: 12px;
	}
	.estimation-submit {
	  width: 450px;
	  height: 60px;
	  display: inline-block;
	  text-indent: -9999px;
	  margin-top: 20px;
	  background: transparent url("../img/content/estimation_content_btn.jpg") no-repeat 0 0 scroll;
	}
	
	
	/*-----page-factory----*/
	.factory-top-content{
		@extend .sub-top-content;
		background : transparent url("../img/content/factory_content_top_img.jpg") no-repeat 0 0 scroll;
		.sub-top-title{
			line-height: 146px;
			padding-left: 35px;
		}
	}
	
	.factory-title{
		text-align: center;
		padding-top: 10px;
		font-size: 15px;
		color: $sub_color3;
	}
		
	
	/*-----page-blog----*/
	#category1{
		margin-top: 20px;
	}
	.blog-title{
		color: #462B1D;
		line-height: 45px;
		padding-left: 12px;		
		background-color: #F2F0EA;
		margin-bottom: 20px;
		font:{
			size: 18px;
			weight: bold;
		}
	}
	.post-row-content{	
		margin-top: 20px;
		.blog-btnrm{
			float: right;		
			padding: 3px 8px;
			@include border_radius(5px);
			background-color: $main_color;
			a{
				color: $sub_color2;
			}
			a:hover{
				opacity: 0.5;
			}
		}
		.post-row-meta{
			.fa{
				padding: 0 5px 0 20px;
			}
			.fa:first-child{
				padding-right: 5px;
				padding-left: 0;
			}
			.blog-catelogy a,.blog-author{
				color: $main_color;
			}
			.blog-catelogy a:hover{
				color: #f00;
			}			
		}
		.post-row-description{
			margin-top: 10px;
		}
		.blog-content{
			margin-top: 10px;
		}
	}
	
	.navigation{
		margin-top: 20px;
		.single-blog-l a{
			float: left;			
			font-weight: bold;
		}		
		.single-blog-r a{
			float: right;			
			font-weight: bold;
		}
		.single-blog-l a:hover, single-blog-r a:hover{
			color: $main_color;
		}
	}
	
	.wp-pagenavi{
		margin-top: 40px;		
		text-align: center;
		.pages{
			background-color: $main_color;
			color: #fff;
			
		}
		.previouspostslink{
			@extend .pages;
		}
		.page{
			@extend .pages;
		}
		.nextpostslink{
			@extend .pages;
		}	
		span.current {
			border-color: $main_color !important;
		}
	}
}