@charset "UTF-8";
/* CSS Document */
/* base css */
/*/////////// base ////////////*/
body {
  font-size: 13px;
  line-height: 1.5em;
  color: #464637;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }

/*/////////// contents layout ////////////*/
/*/////////// layout ////////////*/
.strong {
  color: #e68c00; }

.small {
  font-size: 12px; }

.floatL {
  float: left; }

.floatR {
  float: right; }

.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #4d1200;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #b32a00; }

a:link {
  color: #444444; }

a:visited {
  color: #444444; }

a:hover {
  color: #111111; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7; }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  background: #fffff8 none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
body {
  background: #fffff8 none repeat-x 0 0 scroll; }

#wrapper {
  min-width: 1090px; }

.primary .primary-row {
  margin-top: 40px; }
.primary .primary-row:first-child {
  margin-top: 0px; }

.sidebar .sidebar-row {
  margin-top: 10px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// heading //////*/
/*////// message //////*/
.message-group .message-row {
  margin-top: 20px;
  /* mesage-col */
  /* message : title, image, text, readmore */ }
  .message-group .message-row .message-col {
    float: left; }
  .message-group .message-row .message-col:first-child {
    margin-left: 0px; }
  .message-group .message-row .message-col370 {
    width: 370px;
    margin-left: 20px; }
  .message-group .message-row .message-col240 {
    width: 240px;
    margin-left: 20px; }
  .message-group .message-row .message-col110 {
    width: 110px;
    margin-left: 20px; }
  .message-group .message-row .message-classic .image {
    text-align: center; }
  .message-group .message-row .message-classic .title {
    text-align: center;
    line-height: 2em;
    border-bottom: 1px dotted #bdbdae; }
  .message-group .message-row .message-classic .text {
    text-align: justify;
    padding: 5px 0px; }
  .message-group .message-row .message-classic .readmore {
    text-align: right; }
    .message-group .message-row .message-classic .readmore .fa {
      margin-right: 3px; }
.message-group .message-row:first-child {
  margin-top: 0px; }

.message-right .text {
  float: right; }
.message-right .image {
  float: left;
  margin-right: 20px; }

.message-left .text {
  float: left; }
.message-left .image {
  float: right;
  margin-left: 20px; }

.message-280 .text {
  width: 460px; }
.message-280 .image {
  width: 280px; }

/*--------------------------------------------------------------
LIST
----------------------------------------------------------------*/
.list-fa-caret {
  margin: 0px;
  padding: 0px;
  list-style: none; }
  .list-fa-caret i.fa {
    margin-right: 5px; }

.list-inline li {
  float: left;
  margin-left: 10px; }
.list-inline li:first-child {
  margin-left: 0px; }

/*---------------------------------------------------------------
CUSTOM CSS
-----------------------------------------------------------------*/
#top {
  background: #4d1200 url("../img/common/top_bg.jpg") repeat-x 0 0 scroll; }
  #top .text-top {
    line-height: 30px;
    margin-bottom: 5px;
    color: #FFF; }

#header {
  background-color: #FFF;
  padding: 10px 0px 20px;
  border-bottom: 1px solid #bdbdae; }
  #header #headerContent {
    position: relative; }
    #header #headerContent .logo {
      margin-top: 8px;
      float: left;
      width: 210px;
      overflow: hidden; }
    #header #headerContent .header-btn {
      float: left;
      width: 300px;
      margin-top: 23px;
      padding-left: 20px; }
    #header #headerContent .header-tel {
      margin-top: 0px;
      float: left;
      width: 290px; }
    #header #headerContent .header-con {
      margin-top: 0px;
      float: left;
      width: 260px; }

/* end header */
/* mainTop and pageTop */
#mainTop-wrapper {
  padding: 10px 0px;
  background: #cccccc url("../img/top/mainTop_wrapper.jpg") no-repeat 0 0 scroll; }
  #mainTop-wrapper #mainTop {
    padding: 10px 0px; }
    #mainTop-wrapper #mainTop .sidebar p {
      margin-top: 20px; }
    #mainTop-wrapper #mainTop .sidebar p:first-child {
      margin-top: 0px; }

#pageTop-wrapper {
  padding: 10px 0px;
  background: #cccccc url("../img/top/mainTop_wrapper.jpg") no-repeat 0 0 scroll; }
  #pageTop-wrapper #pageTop {
    position: relative; }
    #pageTop-wrapper #pageTop .text {
      position: absolute;
      top: 40px;
      left: 40px; }
    #pageTop-wrapper #pageTop h1 {
      line-height: 60px;
      float: left; }
    #pageTop-wrapper #pageTop .description {
      float: left;
      font-size: 25px;
      margin-left: 20px;
      line-height: 60px; }

/* end mainTop and pageTop */
/* globalNavi */
#globalNavi {
  background: #4d1200 url("../img/common/globalNavi_bg.jpg") no-repeat center 0 scroll; }

#globalNavi .globalNavi {
  width: 1060px;
  margin: 0px;
  padding: 0px;
  list-style: none; }

#globalNavi .globalNavi li {
  float: left;
  /*background: transparent url('../img/common/globalNavi_sep.jpg') no-repeat 0 center scroll;*/ }

#globalNavi .globalNavi li:first-child {
  background: transparent none no-repeat 0 0 scroll; }

#globalNavi .globalNavi li a {
  color: #fff;
  display: block;
  margin: 5px 30px;
  padding: 5px 0px; }

#globalNavi .globalNavi li a span {
  display: block;
  text-align: center;
  line-height: 20px; }

#globalNavi .globalNavi li a span.first {
  font-size: 16px;
  line-height: 22px; }

#globalNavi .globalNavi li a span.second {
  line-height: 12px;
  font-size: 12px; }

#globalNavi .globalNavi li a:hover {
  background: #649b0f none no-repeat 0 0 scroll;
  color: #1464aa;
  border-radius: 10px; }

/* end globalNavi */
/*//////// Sidebar commmon ////////////*/
/* begin sideMenu */
/* sideMenu.css */
#sideMenu h4 {
  background: #4d1200;
  color: #FFF;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase; }
#sideMenu .sideMenu {
  margin: 0px auto;
  background: transparent url("../img/common/sideMenu_bg.jpg") no-repeat 0 0 scroll;
  height: 300px;
  border: 1px solid #DDDDDD; }
  #sideMenu .sideMenu ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    #sideMenu .sideMenu ul li a {
      background: transparent none no-repeat 0 0 scroll;
      padding-left: 15px;
      display: block;
      line-height: 30px;
      border-top: 1px dotted #DDDDDD;
      margin-left: 60px;
      padding-left: 20px; }
    #sideMenu .sideMenu ul li a:hover {
      color: #649b0f; }
    #sideMenu .sideMenu ul li:first-child a {
      border-top: none; }

/* end sideMenu */
/* begin sideNav */
#sideNav h4 {
  background: #4d1200;
  color: #FFF;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase; }
#sideNav .sideNav {
  margin: 0px;
  padding: 5px;
  background-color: #bdbdae; }
  #sideNav .sideNav ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    #sideNav .sideNav ul li {
      margin-top: 5px; }
      #sideNav .sideNav ul li a {
        padding-left: 30px;
        line-height: 40px;
        font-size: 14px;
        background-color: #FFF;
        border-left: 10px solid #4d1200;
        display: block;
        color: #464637;
        font-weight: bold; }
      #sideNav .sideNav ul li a:hover {
        border-color: #649b0f; }
    #sideNav .sideNav ul li:first-child {
      margin-top: 0px; }

/* end sideNav */
#sideMessage {
  background: #bdbdae;
  padding: 10px; }
  #sideMessage h4 {
    line-height: 1.5em; }
  #sideMessage .sideMessage .image {
    margin-bottom: 10px; }
  #sideMessage .sideMessage .text {
    text-align: justify; }

/* begin side_con */
.side_con_bg {
  background: transparent url("../img/common/side_con_bg.jpg") no-repeat 0 0 scroll;
  position: relative;
  height: 200px; }
  .side_con_bg .side_con_btn {
    position: absolute;
    bottom: 10px;
    right: 10px; }
    .side_con_bg .side_con_btn p {
      padding-top: 5px; }

/* end side_con */
#content-wrapper {
  padding: 30px 0px 0px; }

#footer {
  background: #f0f0f0 url("../img/common/footer_bg.jpg") repeat-x 0 0 scroll; }
  #footer .footer-logo {
    position: absolute;
    left: 15px;
    top: 0px; }
  #footer #footer-contact {
    padding: 30px 0px;
    line-height: 2em; }
    #footer #footer-contact .col-md-18 {
      position: relative; }
  #footer #copyright {
    line-height: 40px;
    text-align: center;
    color: #FFF;
    background: #4d1200 url("../img/common/footer_copyright_bg.jpg") repeat-x 0 0 scroll; }

/*/////////// index ////////////*/
/*/////////// common parts ////////////*/
#part-blog {
  border: 1px solid #bdbdae;
  padding: 20px 15px; }
  #part-blog table {
    width: 100%; }
    #part-blog table tbody td {
      border-bottom: 1px dotted #bdbdae;
      padding: 15px 10px; }

/*/////////// page-contact ////////////*/
/*/////////// page-faq ////////////*/
/*/////////// page-company ////////////*/
/*/////////// page-blog ////////////*/
