@charset "UTF-8";
/* CSS Document */
/* base css */
.pt10, .pv10,
.pa10 {
  padding-top: 10px; }

.pr10, .ph10,
.pa10 {
  padding-right: 10px; }

.pb10, .pv10,
.pa10 {
  padding-bottom: 10px; }

.pl10, .ph10,
.pa10 {
  padding-left: 10px; }

.mt10, .mv10,
.ma10 {
  margin-top: 10px; }

.mr10, .mh10,
.ma10 {
  margin-right: 10px; }

.mb10, .mv10,
.ma10 {
  margin-bottom: 10px; }

.ml10, .mh10,
.ma10 {
  margin-left: 10px; }

.pt20, .pv20,
.pa20 {
  padding-top: 20px; }

.pr20, .ph20,
.pa20 {
  padding-right: 20px; }

.pb20, .pv20,
.pa20 {
  padding-bottom: 20px; }

.pl20, .ph20,
.pa20 {
  padding-left: 20px; }

.mt20, .mv20,
.ma20 {
  margin-top: 20px; }

.mr20, .mh20,
.ma20 {
  margin-right: 20px; }

.mb20, .mv20,
.ma20 {
  margin-bottom: 20px; }

.ml20, .mh20,
.ma20 {
  margin-left: 20px; }

.pt30, .pv30,
.pa30 {
  padding-top: 30px; }

.pr30, .ph30,
.pa30 {
  padding-right: 30px; }

.pb30, .pv30,
.pa30 {
  padding-bottom: 30px; }

.pl30, .ph30,
.pa30 {
  padding-left: 30px; }

.mt30, .mv30,
.ma30 {
  margin-top: 30px; }

.mr30, .mh30,
.ma30 {
  margin-right: 30px; }

.mb30, .mv30,
.ma30 {
  margin-bottom: 30px; }

.ml30, .mh30,
.ma30 {
  margin-left: 30px; }

.pt40, .pv40,
.pa40 {
  padding-top: 40px; }

.pr40, .ph40,
.pa40 {
  padding-right: 40px; }

.pb40, .pv40,
.pa40 {
  padding-bottom: 40px; }

.pl40, .ph40,
.pa40 {
  padding-left: 40px; }

.mt40, .mv40,
.ma40 {
  margin-top: 40px; }

.mr40, .mh40,
.ma40 {
  margin-right: 40px; }

.mb40, .mv40,
.ma40 {
  margin-bottom: 40px; }

.ml40, .mh40,
.ma40 {
  margin-left: 40px; }

.pt50, .pv50,
.pa50 {
  padding-top: 50px; }

.pr50, .ph50,
.pa50 {
  padding-right: 50px; }

.pb50, .pv50,
.pa50 {
  padding-bottom: 50px; }

.pl50, .ph50,
.pa50 {
  padding-left: 50px; }

.mt50, .mv50,
.ma50 {
  margin-top: 50px; }

.mr50, .mh50,
.ma50 {
  margin-right: 50px; }

.mb50, .mv50,
.ma50 {
  margin-bottom: 50px; }

.ml50, .mh50,
.ma50 {
  margin-left: 50px; }

/*/////////// link ////////////*/
a {
  color: #f67a12;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #fab174; }

a:link {
  color: #472b1a; }

a:visited {
  color: #472b1a; }

a:hover {
  color: #f67a12; }

a.img_bg_white {
  display: inline-block;
  background-color: #fff; }

a.img_bg_white img {
  opacity: 0.7;
  filter: alpha(opacity=70); }

/* not transparence

a:hover img{
  	opacity: 1;
}

*/
/*/////////// clear ////////////*/
.clear {
  clear: both; }

/* clearfix css */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  min-height: 1px; }

* html .clearfix {
  height: 1px;
  /*¥*/
                  /*/
height: auto;
overflow: hidden; /**/ }

/* common css */
body {
  font-size: 14px;
  line-height: 1.5em;
  color: #472b1a;
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: #fcf9f8 none no-repeat 0 0 scroll; }

/* reset */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

.container {
  width: 1090px; }

p {
  margin: 0px; }

a:hover {
  text-decoration: none; }

@media screen and (max-width: 768px) {
  #screen_type {
    content: "xs"; } }
@media screen and (min-width: 768px) and (max-width: 992px) {
  #screen_type {
    content: "sm"; } }
@media screen and (min-width: 992px) and (max-width: 1200px) {
  #screen_type {
    content: "md"; } }
@media screen and (min-width: 1200px) {
  #screen_type {
    content: "lg"; } }
/*---------------------------------------------------------------
FIX SIZE LAYOUT
-----------------------------------------------------------------*/
#wrapper {
  min-width: 1090px;
  overflow: hidden; }

.wrapper {
  max-width: 1060px;
  margin: 0px auto; }

.primary .primary-row {
  margin-top: 40px; }
  .primary .primary-row .primary-row {
    margin-top: 20px; }
  .primary .primary-row .primary-row:first-child {
    margin-top: 0px; }
.primary .primary-row:first-child {
  margin-top: 0px; }

.sidebar .sidebar-row {
  margin-top: 20px; }
.sidebar .sidebar-row:first-child {
  margin-top: 0px; }

.two-cols-left .primary {
  width: 760px;
  float: left;
  margin-left: 300px; }
.two-cols-left .sidebar {
  width: 280px;
  float: left;
  margin-left: -1060px; }

.two-cols-right .primary {
  float: left;
  width: 760px;
  margin-right: 20px; }
.two-cols-right .sidebar {
  float: left;
  width: 280px; }

/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*---------------------------------------------------------------
REPEATABLE PARTTERNS
-----------------------------------------------------------------*/
/*////// line-height //////*/
.ln2em {
  line-height: 2em; }

.ln15em {
  line-height: 1.5em; }

/*/////// table ///////*/
table {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapsed;
  width: 100%; }
  table tr th, table tr td {
    padding: 9px 20px;
    border: 1px solid #cccccc; }

/* LAYOUT */
header {
  border-top: 3px solid #502800; }
  header .header-content .logo {
    float: left;
    margin-right: 25px;
    margin-top: -3px; }
  header .header-content .header-info {
    float: left; }
    header .header-content .header-info .header-info1 .header-info1-text {
      padding: 35px 0 25px;
      float: left;
      color: #F03745;
      font-size: 16px;
      font-weight: bold; }
    header .header-content .header-info .header-info1 .header-info1-tel {
      padding: 30px 0 25px 45px;
      float: left; }
    header .header-content .header-info .header-info1 .header-info1-con {
      padding: 20px 0 25px 20px;
      float: left; }
    header .header-content .header-info .header-info1 .header-info1-estimation {
      padding: 20px 0 25px 5px;
      float: left; }
    header .header-content .header-info .header-info2 {
      list-style: none;
      padding: 0;
      margin: 0; }
      header .header-content .header-info .header-info2 li {
        float: left;
        position: relative;
        border-left: 1px dotted #ccc; }
        header .header-content .header-info .header-info2 li a {
          display: block;
          padding: 10px 23px; }
          header .header-content .header-info .header-info2 li a span {
            display: block;
            text-align: center; }
          header .header-content .header-info .header-info2 li a span.first-text {
            line-height: 10px;
            padding-top: 3px;
            color: #2A1811;
            font-family: Kozuka Gothic Pr6N;
            font-size: 15px;
            font-weight: bold; }
          header .header-content .header-info .header-info2 li a span.second-text {
            padding-top: 7px;
            line-height: 10px;
            color: #E95277;
            font-size: 12px;
            font-size: Myriad Pro; }
      header .header-content .header-info .header-info2 li:last-child {
        border-right: 1px dotted #ccc; }
      header .header-content .header-info .header-info2 li a:hover span.first-text {
        color: #f67a12; }

nav {
  background: url("../img/common/nav_bg.jpg") repeat-x 0 0 scroll; }
  nav #gNavi {
    background: url("../img/common/navi_icon.jpg") no-repeat left 0 scroll;
    background-position: 10px; }
    nav #gNavi .dynamic {
      width: 853px;
      margin-left: 215px;
      list-style: none;
      padding: 0; }
      nav #gNavi .dynamic li {
        padding: 13px 0;
        margin-right: 1px;
        float: left; }
        nav #gNavi .dynamic li a {
          display: block; }
      nav #gNavi .dynamic li:last-child {
        width: 158px !important; }
      nav #gNavi .dynamic li:last-child :hover {
        width: 157px !important; }
      nav #gNavi .dynamic li a:hover {
        width: 158px; }

#top-breadcrumb .home {
  color: #333; }
#top-breadcrumb a:hover {
  color: #f67a12; }

#content {
  padding: 42px 0px 0px;
  	/*.primary-row{
  		margin-top : 30px;
  		.primary-row{
  			margin-top: 20px;
  		}
  	}
  
  	.primary-row:first-child{
  		margin-top: 0;
  	}*/
  /* message */
  /* message-group */
  /* heading */
  /*------ side-contact -----*/
  /* sideMenu */
  /* sideNavi */ }
  #content .message-left .image {
    float: left; }
  #content .message-left .text {
    margin-left: 20px;
    float: left; }
  #content .message-right .image {
    float: right; }
  #content .message-right .text {
    float: left;
    margin-right: 20px; }
  #content .message-280 .image {
    width: 280px; }
  #content .message-280 .text {
    width: 460px; }
  #content .message-299 {
    margin-top: 20px; }
    #content .message-299 .image {
      width: 299px; }
    #content .message-299 .text {
      width: 441px;
      line-height: 1.8em;
      margin-top: -5px; }
  #content .message-340 {
    margin-top: 20px; }
    #content .message-340 .image {
      width: 340px; }
    #content .message-340 .text {
      width: 400px; }
  #content .message-342 {
    margin-top: 20px; }
    #content .message-342 .image {
      width: 342px; }
    #content .message-342 .text {
      width: 398px;
      line-height: 1.8em;
      margin-top: -5px; }
  #content .message-group .message-row {
    margin-top: 20px; }
    #content .message-group .message-row .message-col {
      float: left; }
  #content .message-group .message-row:first-child {
    margin-top: 0; }
  #content .message-group.message-col240 .message-col {
    width: 240px;
    margin-left: 20px; }
  #content .message-group.message-col240 .message-col:first-child {
    margin-left: 0; }
  #content .message-group.message-col370 .message-col {
    width: 370px;
    margin-left: 20px; }
  #content .message-group.message-col370 .message-col:first-child {
    margin-left: 0; }
  #content .message-classic .message-col {
    padding: 10px;
    box-shadow: 0 0 4px 4px #e9e9e9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    #content .message-classic .message-col .title {
      color: #f67a12;
      font-size: 16px;
      line-height: 30px; }
    #content .message-classic .message-col .image img {
      max-width: 100%;
      height: auto; }
    #content .message-classic .message-col .text {
      margin-top: 7px;
      line-height: 1.5em; }
  #content .h2-title {
    background: #fcf9f8 url("../img/common/top_h2.jpg") no-repeat 0 bottom scroll;
    color: #482B1D;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: bold; }
  #content .h2_title,
  #content .h3_title {
    margin-bottom: 15px; }
  #content .side-con-bg {
    margin-top: -15px;
    margin-bottom: 10px;
    background: #fcf9f8 url("../img/common/side_con_bg.jpg") no-repeat 0 0 scroll;
    position: relative;
    height: 239px; }
    #content .side-con-bg .side-con-text {
      position: relative;
      color: #F03745;
      top: 30px;
      left: 15px;
      font-family: Kozuka Gothic Pr6N !important; }
      #content .side-con-bg .side-con-text .side-con-text1 {
        font-size: 16px;
        font-weight: bold; }
      #content .side-con-bg .side-con-text .side-con-text2 {
        padding-top: 3px;
        font-size: 25px;
        font-weight: bold; }
    #content .side-con-bg .side-con-btn {
      position: absolute;
      top: 93px;
      left: 15px; }
  #content .side-space {
    margin-top: 10px; }
  #content #sideMenu {
    background: #fcf9f8 url("../img/common/side_menu_bg.jpg") no-repeat 0 0 scroll;
    height: 352px; }
    #content #sideMenu .sideMnu-title {
      padding-top: 23px;
      padding-left: 18px;
      color: #52301F;
      font-family: Kozuka Gothic Pr6N;
      font-size: 18px;
      font-weight: bold; }
    #content #sideMenu .sideMnu {
      list-style: none;
      margin: 0;
      padding: 20px 10px 13px 10px; }
      #content #sideMenu .sideMnu li {
        background-color: white;
        margin-top: 1px;
        border-bottom: none; }
        #content #sideMenu .sideMnu li a {
          display: block;
          line-height: 53px;
          padding-left: 10px;
          position: relative;
          font-family: Kozuka Gothic Pr6N;
          font-size: 17px;
          font-weight: bold; }
          #content #sideMenu .sideMnu li a .sideMnu-step {
            color: #F03745;
            font-size: 14px;
            padding-right: 20px;
            font-weight: normal; }
          #content #sideMenu .sideMnu li a i.fa {
            position: absolute;
            color: #ddd;
            font-size: 7px;
            right: 13px;
            top: 0;
            line-height: 53px; }
        #content #sideMenu .sideMnu li a:hover {
          color: #f67a12; }
          #content #sideMenu .sideMnu li a:hover i.fa {
            color: #f67a12; }
  #content .sideNavi-content {
    list-style: none;
    margin: 0;
    padding: 0; }
    #content .sideNavi-content li {
      border: 1px solid #C9BDB7;
      border-bottom: none;
      background-color: #FEFCFC; }
      #content .sideNavi-content li a {
        border-left: 8px solid #958074;
        display: block;
        line-height: 40px;
        padding-left: 16px;
        position: relative;
        font-size: 15px;
        font-weight: bold; }
        #content .sideNavi-content li a i.fa {
          position: absolute;
          color: #999;
          font-size: 7px;
          right: 13px;
          top: 0;
          line-height: 40px; }
      #content .sideNavi-content li a:hover {
        border-left: 8px solid #f67a12;
        color: #f67a12; }
        #content .sideNavi-content li a:hover i.fa {
          color: #f67a12; }
    #content .sideNavi-content li:last-child {
      border-bottom: 1px solid #C9BDB7; }

/* CONTACT FORM */
/* wpcf7 */
.wpcf7 .require, .wpcf7 .red {
  color: #F66; }
.wpcf7 table tr th, .wpcf7 td {
  font-size: 13px; }
.wpcf7 input {
  margin: 3px 0px;
  font-size: 14px;
  line-height: 30px; }
.wpcf7 select {
  width: 250px;
  font-size: 14px;
  line-height: 1.5em; }

footer {
  margin: 50px 0 13px;
  border-top: 3px solid #502800; }
  footer .footer-content1 .footer-logo {
    margin-top: -20px;
    float: left; }
  footer .footer-content1 .footer-status {
    float: left;
    padding-top: 34px;
    padding-left: 30px;
    color: #F03745;
    font-size: 16px;
    font-weight: bold; }
  footer .footer-content1 .footer-tel {
    float: left;
    padding-left: 115px;
    padding-top: 30px; }
  footer .footer-content1 .footer-con {
    float: left;
    padding-left: 20px;
    padding-top: 24px; }
  footer .footer-content1 .footer-estimation {
    float: left;
    padding-left: 5px;
    padding-top: 24px; }
  footer .footer-content2 {
    margin-top: 35px; }
    footer .footer-content2 .footer-navi1 {
      list-style: none;
      margin: 0;
      padding: 0; }
      footer .footer-content2 .footer-navi1 li {
        float: left; }
        footer .footer-content2 .footer-navi1 li a {
          display: block;
          padding: 0 15px;
          border-left: 1px solid #472B1A; }
  footer .footer-content3 {
    margin-top: 40px; }
    footer .footer-content3 .footer-navi2 {
      list-style: none;
      margin: 0;
      padding: 0;
      float: left; }
      footer .footer-content3 .footer-navi2 li {
        display: inline-block;
        padding-right: 15px; }
        footer .footer-content3 .footer-navi2 li .fa {
          padding-right: 5px;
          font-size: 12px;
          color: #301B13; }
        footer .footer-content3 .footer-navi2 li a {
          font-size: 12px;
          color: #301B13; }
      footer .footer-content3 .footer-navi2 li a:hover {
        color: #f67a12; }
    footer .footer-content3 .footer-copyright {
      float: right;
      font-size: 12px;
      color: #301B13; }

/* part */
.sideBlog .sideBlog-title {
  color: #f67a12;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 2px solid #f67a12;
  margin-bottom: 10px; }
.sideBlog ul {
  padding: 0px;
  margin: 0 0 0 10px;
  list-style: none; }

#part-blog .part-blog-content {
  padding: 10px 15px; }
  #part-blog .part-blog-content .item {
    border-top: 1px dotted #cccccc; }
    #part-blog .part-blog-content .item .date {
      color: #2369ae;
      font-weight: bold;
      float: left;
      width: 100px; }
    #part-blog .part-blog-content .item .date, #part-blog .part-blog-content .item .title {
      line-height: 40px; }
  #part-blog .part-blog-content .item:first-child {
    border-top: none; }

/* page content */
#content {
  /* top */
  /*-----page-blog----*/
  /*----- Common ----*/
  /*------ Common-------*/
  /*-----page-color----*/
  /*-----page-catch----*/
  /*-----page-type----*/
  /*-----page-print----*/
  /*-----page-print----*/
  /*-----page-shape----*/
  /*-----page-datas----*/
  /*-----page-glossary----*/
  /*-----page-price----*/
  /*-----page-about----*/
  /*-----page-service----*/
  /*-----page-example----*/
  /*-----page-estimation----*/
  /*-----page-factory----*/
  /*-----page-blog----*/ }
  #content .top-main1 {
    background: #fcf9f8 url("../img/top/top_main_img1_bg.jpg") no-repeat 0 0 scroll;
    position: relative;
    height: 323px; }
    #content .top-main1 .top-main1-btn {
      position: absolute;
      bottom: 25px;
      right: 15px; }
      #content .top-main1 .top-main1-btn img {
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
    #content .top-main1 .top-main1-btn a:hover {
      border-radius: 10px; }
  #content .top-box1-content {
    margin-top: 25px; }
    #content .top-box1-content .top-box1-info {
      position: relative;
      width: 188px;
      float: left;
      border-left: 1px solid #cccccc;
      padding: 0 10px; }
      #content .top-box1-content .top-box1-info .top-box1-img {
        text-align: center; }
      #content .top-box1-content .top-box1-info .top-box1-icon {
        position: absolute;
        top: -18px;
        right: -10px;
        z-index: 9999; }
      #content .top-box1-content .top-box1-info .top-box1-title {
        text-align: center;
        padding: 14px 0;
        color: #F67A12;
        font-size: 18px;
        font-weight: bold; }
      #content .top-box1-content .top-box1-info .top-box1-text {
        text-align: justify;
        color: #472B1A;
        font-size: 13px; }
      #content .top-box1-content .top-box1-info .top-box1-btn {
        padding: 20px 0; }
    #content .top-box1-content .top-box1-info:last-child {
      border-right: 1px solid #cccccc; }
  #content .top-main2-content .top-main2-img1 {
    float: left; }
  #content .top-main2-content .top-main2-img2 {
    float: left;
    margin: 29px 0 0 15px; }
  #content .top-video {
    background-color: #F1F0EF;
    padding: 18px 16px; }
    #content .top-video .top-video1 {
      float: left; }
    #content .top-video .top-video2 {
      float: left;
      margin-left: 12px; }
  #content .top-box2-content .top-box2-info {
    width: 253px;
    float: left;
    border-left: 1px solid #cccccc;
    padding: 0 16px; }
    #content .top-box2-content .top-box2-info .top-box2-img {
      text-align: center; }
    #content .top-box2-content .top-box2-info .top-box2-title {
      text-align: left;
      padding: 15px 0;
      color: #F9792C;
      font-size: 22px;
      font-weight: bold; }
    #content .top-box2-content .top-box2-info .top-box2-text {
      text-align: justify;
      color: #472B1A;
      font-size: 14px; }
    #content .top-box2-content .top-box2-info .top-box2-btn {
      padding: 20px 0; }
  #content .top-box2-content .top-box2-info:last-child {
    border-right: 1px solid #cccccc; }
  #content .top-part-flow {
    margin-top: 10px; }
  #content .top-part-contact {
    margin-top: 8px;
    background: #fcf9f8 url("../img/top/top_part_contact.jpg") no-repeat 0 0 scroll;
    position: relative;
    height: 145px; }
    #content .top-part-contact .top-part-contact-btn {
      position: absolute;
      bottom: 52px;
      right: 147px; }
  #content #slider {
    margin-top: 20px;
    padding: 10px 30px;
    position: relative; }
    #content #slider .slider-nav-item {
      position: absolute;
      top: 70px; }
      #content #slider .slider-nav-item i {
        color: #CECEBE;
        font-size: 25px; }
    #content #slider .slider-nav-left {
      left: 10px; }
    #content #slider .slider-nav-right {
      right: 10px; }
    #content #slider .slider-items {
      height: 154px;
      width: 670px;
      margin: 0 auto;
      overflow: hidden; }
      #content #slider .slider-items ul {
        width: 1390px;
        margin: 0px;
        padding: 0px; }
        #content #slider .slider-items ul li {
          margin: 0 5px;
          display: inline-block;
          border: 2px solid #CECEBF;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px; }
  #content .flow-top-content {
    margin: 15px 0 26px;
    background: transparent url("../img/content/flow_content_top_img.jpg") no-repeat 0 0 scroll; }
    #content .flow-top-content .top-content-title {
      color: #2C1912;
      font-family: Kozuka Gothic Pr6N !important;
      line-height: 140px;
      padding-left: 35px;
      font-size: 37px;
      font-weight: bold; }
  #content .flow-top-text {
    color: #333333; }
  #content .flow-content1 {
    margin: 25px 0 30px;
    line-height: 1.8em; }
  #content .flow-content-arrow {
    margin-top: 20px;
    border-top: 1px dotted #bbb;
    text-align: center; }
  #content #flow-content-info {
    margin-top: 30px; }
  #content .flow-link {
    color: #F9792C;
    text-decoration: underline; }
  #content .flow-link:hover {
    text-decoration: none; }
  #content .sub-top-content, #content .color-top-content, #content .catch-top-content, #content .type-top-content, #content .print-top-content, #content .shape-top-content, #content .datas-top-content, #content .glossary-top-content, #content .price-top-content, #content .about-top-content, #content .service-top-content, #content .factory-top-content {
    margin: 15px 0 20px; }
    #content .sub-top-content .sub-top-title, #content .color-top-content .sub-top-title, #content .catch-top-content .sub-top-title, #content .type-top-content .sub-top-title, #content .print-top-content .sub-top-title, #content .shape-top-content .sub-top-title, #content .datas-top-content .sub-top-title, #content .glossary-top-content .sub-top-title, #content .price-top-content .sub-top-title, #content .about-top-content .sub-top-title, #content .service-top-content .sub-top-title, #content .factory-top-content .sub-top-title {
      color: #2C1912;
      font-family: Kozuka Gothic Pr6N !important;
      line-height: 150px;
      font-size: 37px;
      font-weight: bold; }
      #content .sub-top-content .sub-top-title .sub-title-step, #content .color-top-content .sub-top-title .sub-title-step, #content .catch-top-content .sub-top-title .sub-title-step, #content .type-top-content .sub-top-title .sub-title-step, #content .print-top-content .sub-top-title .sub-title-step, #content .shape-top-content .sub-top-title .sub-title-step, #content .datas-top-content .sub-top-title .sub-title-step, #content .glossary-top-content .sub-top-title .sub-title-step, #content .price-top-content .sub-top-title .sub-title-step, #content .about-top-content .sub-top-title .sub-title-step, #content .service-top-content .sub-top-title .sub-title-step, #content .factory-top-content .sub-top-title .sub-title-step {
        padding-left: 25px;
        padding-right: 13px;
        color: #E95277;
        font-size: 30px;
        font-style: italic; }
  #content .sub-top-text {
    color: #333333;
    line-height: 1.8em; }
  #content .step-content-bg {
    margin: 0 70px;
    background-color: #DFDFD0;
    padding: 12px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }
    #content .step-content-bg .step-info-left {
      font-family: Kozuka Gothic Pr6N;
      width: 288px;
      float: left;
      background-color: white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #BEBEB1;
      padding: 0 23px;
      line-height: 81px;
      color: #51301F;
      position: relative;
      font-size: 20px;
      font-weight: bold; }
      #content .step-content-bg .step-info-left .fa {
        font-size: 50px;
        color: #FB9456;
        position: absolute;
        top: 15px; }
      #content .step-content-bg .step-info-left .step-right {
        padding: 0 5px 0 27px;
        color: #E95277;
        font-size: 16px;
        font-style: italic; }
      #content .step-content-bg .step-info-left .text-type {
        padding-left: 30px; }
    #content .step-content-bg .step-info-left:hover, #content .step-content-bg .step-info-right:hover {
      color: #f67a12;
      border: 1px solid #f67a12; }
    #content .step-content-bg .step-info-right {
      font-family: Kozuka Gothic Pr6N;
      width: 288px;
      float: right;
      background-color: white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #BEBEB1;
      padding: 0 23px;
      line-height: 81px;
      color: #51301F;
      position: relative;
      font-size: 20px;
      font-weight: bold; }
      #content .step-content-bg .step-info-right .fa {
        font-size: 50px;
        color: #FB9456;
        position: absolute;
        right: 23px;
        top: 15px; }
      #content .step-content-bg .step-info-right .step-left {
        font-style: italic;
        padding-right: 5px;
        color: #E95277;
        font-size: 16px; }
  #content .sub-content {
    margin-top: 23px; }
    #content .sub-content .sub-content-img {
      float: left; }
      #content .sub-content .sub-content-img .sub-img-left {
        float: left;
        width: 225px; }
      #content .sub-content .sub-content-img .sub-img-right {
        float: right;
        margin-left: 13px; }
        #content .sub-content .sub-content-img .sub-img-right .sub-img-space {
          padding-bottom: 15px; }
    #content .sub-content .sub-content-text {
      float: left;
      margin-left: 22px;
      width: 395px; }
      #content .sub-content .sub-content-text .sub-title {
        color: #462B1D;
        line-height: 45px;
        padding-left: 12px;
        background-color: #F2F0EA;
        font-size: 18px;
        font-weight: bold; }
      #content .sub-content .sub-content-text .sub-text {
        margin-top: 10px;
        line-height: 1.8em; }
      #content .sub-content .sub-content-text .sub-link {
        margin-top: 20px;
        color: #F8792C; }
        #content .sub-content .sub-content-text .sub-link .fa {
          font-size: 14px;
          padding-right: 5px; }
        #content .sub-content .sub-content-text .sub-link a {
          text-decoration: underline;
          color: #F8792C;
          font-size: 16px;
          font-weight: bold; }
        #content .sub-content .sub-content-text .sub-link a:hover {
          text-decoration: none; }
      #content .sub-content .sub-content-text .sub-link-title {
        color: #503526;
        padding: 22px 0;
        font-size: 15px;
        font-weight: bold; }
        #content .sub-content .sub-content-text .sub-link-title .fa {
          font-weight: bold;
          padding-right: 5px; }
      #content .sub-content .sub-content-text .sub-link-all {
        list-style: none;
        margin: 0;
        width: 320px;
        padding-left: 5px; }
        #content .sub-content .sub-content-text .sub-link-all li {
          width: 135px;
          float: left;
          display: inline-block;
          padding-left: 15px; }
          #content .sub-content .sub-content-text .sub-link-all li .fa {
            color: #F8792C;
            font-size: 14px;
            padding-right: 5px; }
          #content .sub-content .sub-content-text .sub-link-all li a {
            text-decoration: underline;
            color: #F8792C;
            font-size: 15px; }
        #content .sub-content .sub-content-text .sub-link-all li a:hover {
          text-decoration: none; }
  #content .color-top-content {
    background: transparent url("../img/content/color_content_top_img.jpg") no-repeat 0 0 scroll; }
  #content .color-content {
    margin-top: 30px; }
    #content .color-content .color-info {
      width: 253px;
      float: left;
      border-left: 1px solid #cccccc;
      padding: 0 10px; }
      #content .color-content .color-info .color-img {
        text-align: center; }
      #content .color-content .color-info .color-title {
        text-align: left;
        padding: 15px 0;
        color: #F67A12;
        font-size: 18px;
        font-weight: bold; }
      #content .color-content .color-info .color-text {
        text-align: justify;
        color: #472b1a;
        line-height: 1.8em;
        font-size: 13px;
        padding-bottom: 10px; }
    #content .color-content .color-info:last-child {
      border-right: 1px solid #cccccc; }
  #content .catch-top-content {
    background: transparent url("../img/content/catch_content_top_img.jpg") no-repeat 0 0 scroll; }
    #content .catch-top-content .sub-top-title {
      line-height: 144px; }
  #content .type-top-content {
    background: transparent url("../img/content/type_content_top_img.jpg") no-repeat 0 0 scroll; }
    #content .type-top-content .sub-top-title {
      line-height: 155px; }
  #content .type-top-content {
    background: transparent url("../img/content/print_content_top_img.jpg") no-repeat 0 0 scroll; }
    #content .type-top-content .sub-top-title {
      line-height: 143px; }
  #content .print-clr {
    color: #F67A12;
    font-size: 14px;
    font-weight: bold; }
  #content .print-top-content {
    background: transparent url("../img/content/type_content_top_img.jpg") no-repeat 0 0 scroll; }
    #content .print-top-content .sub-top-title {
      line-height: 155px; }
  #content .shape-top-content {
    background: transparent url("../img/content/shape_content_top_img.jpg") no-repeat 0 0 scroll; }
    #content .shape-top-content .sub-top-title {
      line-height: 144px; }
  #content .shape-text {
    line-height: 1.8em;
    margin-top: 20px; }
  #content .shape-content-title {
    color: #462B1D;
    line-height: 45px;
    padding-left: 12px;
    background-color: #F2F0EA;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold; }
  #content .shape-content .shape-info {
    width: 190px;
    float: left;
    border-left: 1px solid #cccccc;
    padding: 0 32px;
    height: 179px; }
    #content .shape-content .shape-info .shape-img {
      text-align: center;
      line-height: 123px; }
    #content .shape-content .shape-info .shape-title {
      text-align: center;
      padding-top: 5px;
      color: #472b1a;
      font-size: 18px;
      font-weight: bold; }
    #content .shape-content .shape-info .shape-btn {
      padding-bottom: 5px;
      text-align: center; }
  #content .shape-content .shape-info:last-child {
    border-right: 1px solid #cccccc; }
  #content .shape-content-text {
    margin-top: 25px;
    line-height: 1.8em;
    color: #333333; }
    #content .shape-content-text .shape-clr {
      color: #F67A12; }
  #content .datas-top-content {
    background: transparent url("../img/content/datas_content_top_img.jpg") no-repeat 0 0 scroll; }
    #content .datas-top-content .sub-top-title {
      line-height: 140px;
      padding-left: 35px; }
  #content .datas-top-content1 {
    margin-top: 12px; }
    #content .datas-top-content1 .datas-top-content1-text {
      float: left; }
      #content .datas-top-content1 .datas-top-content1-text .datas-top-content1-title {
        padding: 20px 0;
        color: #D31500;
        font-size: 18px;
        font-weight: bold; }
      #content .datas-top-content1 .datas-top-content1-text .datas-info1-text {
        line-height: 1.8em;
        color: #333333; }
    #content .datas-top-content1 .datas-top-content1-img {
      float: right; }
  #content .datas-list {
    list-style: none;
    padding: 0;
    margin: 0; }
    #content .datas-list li {
      line-height: 55px;
      display: block;
      background: #fcf9f8 url("../img/content/datas_content_icon.jpg") no-repeat 0 0 scroll;
      background-position: 10px;
      padding-left: 45px;
      border: 1px solid #B4B4B4;
      border-bottom: none;
      color: #333333;
      font-size: 16px;
      font-weight: bold; }
      #content .datas-list li .datas-clr {
        color: #D80000; }
    #content .datas-list li:last-child {
      border-bottom: 1px solid #b4b4b4; }
    #content .datas-list .datas-list-bg1 {
      background-color: white; }
    #content .datas-list .datas-list-bg2 {
      background-color: #F6F6F6; }
  #content .datas-top-content2 {
    margin-top: 38px; }
    #content .datas-top-content2 .datas-top-content2-info1, #content .datas-top-content2 .datas-top-content2-info2 {
      float: left;
      width: 370px; }
      #content .datas-top-content2 .datas-top-content2-info1 .datas-top-content2-title, #content .datas-top-content2 .datas-top-content2-info2 .datas-top-content2-title {
        color: #462B1D;
        line-height: 45px;
        padding-left: 12px;
        background-color: #F2F0EA;
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: bold; }
      #content .datas-top-content2 .datas-top-content2-info1 .datas-top-content2-img, #content .datas-top-content2 .datas-top-content2-info2 .datas-top-content2-img {
        float: left; }
      #content .datas-top-content2 .datas-top-content2-info1 .datas-top-content2-text, #content .datas-top-content2 .datas-top-content2-info2 .datas-top-content2-text {
        color: #333333;
        width: 264px;
        float: left;
        margin-left: 15px; }
    #content .datas-top-content2 .datas-top-content2-info2 {
      float: right; }
      #content .datas-top-content2 .datas-top-content2-info2 .datas-top-content2-img {
        margin-left: -15px; }
      #content .datas-top-content2 .datas-top-content2-info2 .datas-top-content2-text {
        margin-left: 8px; }
  #content .datas-content-title {
    color: #462B1D;
    line-height: 45px;
    padding-left: 12px;
    background-color: #F2F0EA;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold; }
  #content .datas-content .datas-info, #content .datas-content2 .datas-info, #content .datas-content3 .datas-info, #content .datas-content2 .datas-info2, #content .datas-content3 .datas-info3 {
    width: 190px;
    float: left;
    border-left: 1px solid #cccccc;
    padding: 0 32px;
    height: 179px; }
    #content .datas-content .datas-info .datas-img, #content .datas-content2 .datas-info .datas-img, #content .datas-content3 .datas-info .datas-img, #content .datas-content2 .datas-info2 .datas-img, #content .datas-content3 .datas-info3 .datas-img {
      text-align: center;
      line-height: 123px; }
    #content .datas-content .datas-info .datas-title, #content .datas-content2 .datas-info .datas-title, #content .datas-content3 .datas-info .datas-title, #content .datas-content2 .datas-info2 .datas-title, #content .datas-content3 .datas-info3 .datas-title {
      text-align: center;
      padding-top: 5px;
      color: #472b1a;
      font-size: 18px;
      font-weight: bold; }
    #content .datas-content .datas-info .datas-btn, #content .datas-content2 .datas-info .datas-btn, #content .datas-content3 .datas-info .datas-btn, #content .datas-content2 .datas-info2 .datas-btn, #content .datas-content3 .datas-info3 .datas-btn {
      padding-bottom: 5px;
      text-align: center; }
  #content .datas-content .datas-info:last-child, #content .datas-content2 .datas-info:last-child, #content .datas-content3 .datas-info:last-child, #content .datas-content2 .datas-info2:last-child, #content .datas-content3 .datas-info3:last-child {
    border-right: 1px solid #cccccc; }
  #content .datas-content2 .datas-info2 {
    width: 146px;
    padding: 0 12px; }
  #content .datas-content3 .datas-info3 {
    width: 147px;
    padding: 0 13px; }
  #content .datas-content-left {
    float: left; }
  #content .datas-content-right {
    float: right; }
  #content .datas-content4-top-text {
    color: #333333;
    margin: 24px 0 28px; }
  #content .datas-content4-email {
    background: #fcf9f8 url("../img/content/datas_content_iconemail.jpg") no-repeat left 0 scroll;
    padding-left: 45px;
    font-size: 22px;
    font-weight: bold; }
    #content .datas-content4-email a {
      color: #F87F2A;
      text-decoration: underline; }
  #content .datas-content4 {
    margin: 55px 0 35px; }
    #content .datas-content4 .datas-content4-left, #content .datas-content4 .datas-content4-right {
      float: left;
      width: 370px; }
      #content .datas-content4 .datas-content4-left .datas-content4-title, #content .datas-content4 .datas-content4-right .datas-content4-title {
        color: #462B1D;
        line-height: 45px;
        padding-left: 12px;
        background-color: #F2F0EA;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold; }
      #content .datas-content4 .datas-content4-left .datas-content4-text1, #content .datas-content4 .datas-content4-right .datas-content4-text1 {
        line-height: 1.8em;
        color: #333333; }
      #content .datas-content4 .datas-content4-left .datas-content4-links, #content .datas-content4 .datas-content4-right .datas-content4-links {
        padding-top: 20px;
        line-height: 1.8em;
        color: #333333; }
        #content .datas-content4 .datas-content4-left .datas-content4-links .datas-links-a, #content .datas-content4 .datas-content4-right .datas-content4-links .datas-links-a {
          text-decoration: underline;
          padding-left: 10px; }
    #content .datas-content4 .datas-content4-right {
      float: right; }
      #content .datas-content4 .datas-content4-right .datas-content-text2 {
        padding-top: 25px;
        line-height: 1.8em; }
  #content .glossary-top-content {
    background: transparent url("../img/content/glossary_content_top_img.jpg") no-repeat 0 0 scroll; }
    #content .glossary-top-content .sub-top-title {
      line-height: 144px;
      padding-left: 35px; }
  #content .glossary-list {
    margin-top: 10px; }
    #content .glossary-list .glossary-list-title {
      color: #503526;
      background-color: #DFDFCF;
      line-height: 47px;
      padding-left: 15px;
      border-radius: 10px 10px 0 0;
      font-size: 18px;
      font-weight: bold; }
    #content .glossary-list .glossary-list-info {
      border-radius: 0 0 10px 10px;
      border: 2px solid #DFDFCE;
      border-top: none;
      background-color: white;
      padding: 15px 25px 23px 8px; }
      #content .glossary-list .glossary-list-info .glossary-list-info1, #content .glossary-list .glossary-list-info .glossary-list-info2 {
        list-style: none;
        padding: 0;
        margin: 0; }
        #content .glossary-list .glossary-list-info .glossary-list-info1 li, #content .glossary-list .glossary-list-info .glossary-list-info2 li {
          float: left;
          display: inline-block;
          padding-left: 15px; }
          #content .glossary-list .glossary-list-info .glossary-list-info1 li .fa, #content .glossary-list .glossary-list-info .glossary-list-info2 li .fa {
            color: #F8792C;
            font-size: 14px;
            padding-right: 5px; }
          #content .glossary-list .glossary-list-info .glossary-list-info1 li a, #content .glossary-list .glossary-list-info .glossary-list-info2 li a {
            text-decoration: underline;
            color: #F8792C;
            font-size: 15px; }
        #content .glossary-list .glossary-list-info .glossary-list-info1 li a:hover, #content .glossary-list .glossary-list-info .glossary-list-info2 li a:hover {
          text-decoration: none; }
      #content .glossary-list .glossary-list-info .glossary-list-info2 {
        padding-top: 8px; }
  #content .glossary-content .glossary-title {
    color: #462B1D;
    line-height: 45px;
    padding-left: 12px;
    background-color: #F2F0EA;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold; }
  #content .glossary-content .glossary-text {
    color: #333333; }
    #content .glossary-content .glossary-text .glossary-space {
      padding-top: 25px; }
  #content .price-top-content {
    background: transparent url("../img/content/price_content_top_img.jpg") no-repeat 0 0 scroll; }
    #content .price-top-content .sub-top-title {
      line-height: 146px;
      padding-left: 35px; }
  #content .price-title {
    color: #462B1D;
    line-height: 45px;
    padding-left: 12px;
    background-color: #F2F0EA;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: bold; }
  #content .price-content1 .price-img {
    width: 250px;
    float: left; }
  #content .price-content1 .price-text {
    float: right; }
    #content .price-content1 .price-text .price-text-title {
      margin-bottom: 12px;
      color: #462B1D;
      font-size: 17px;
      font-weight: bold; }
      #content .price-content1 .price-text .price-text-title .fa {
        font-weight: bold;
        padding-right: 5px; }
    #content .price-content1 .price-text .price-table1 tr td {
      padding: 9px 0;
      width: 122px;
      text-align: center;
      color: #452B19;
      font-size: 16px; }
    #content .price-content1 .price-text .price-table1 .table1-clr1 {
      background-color: #eee; }
    #content .price-content1 .price-text .price-table1 .table1-clr2 {
      background-color: #FCF9F8; }
  #content .price-content2 {
    margin: 10px 0;
    background-color: #F5F5F1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px 24px 20px 18px; }
    #content .price-content2 .price-icon {
      float: left; }
    #content .price-content2 .price-p1 {
      float: left;
      padding-left: 15px;
      padding-top: 20px;
      color: #333333;
      font-size: 30px;
      font-weight: bold; }
    #content .price-content2 .price-p2 {
      float: left;
      padding-left: 20px;
      padding-top: 20px;
      color: #FF3353;
      font-size: 58px;
      font-weight: bold; }
      #content .price-content2 .price-p2 .unit {
        font-size: 31px;
        font-weight: bold; }
    #content .price-content2 .price-btn-small {
      float: right; }
  #content .price-table2 {
    margin-top: 10px; }
    #content .price-table2 .price-table2-clr {
      background-color: #FEEFBC !important; }
    #content .price-table2 tr th, #content .price-table2 td {
      text-align: center;
      padding: 10px 0; }
    #content .price-table2 tr:first-child {
      width: 111px;
      background-color: #FEEFBC;
      font-size: 16px;
      font-weight: bold; }
    #content .price-table2 tr th:first-child {
      background-color: #FFF9E1;
      width: 203px;
      font-size: 14px;
      font-weight: bold; }
    #content .price-table2 tr td {
      width: 111px;
      color: #FF3354;
      font-size: 16px;
      font-weight: bold; }
  #content .price-btn-large {
    margin-top: 20px;
    text-align: center; }
  #content .about-top-content {
    background: transparent url("../img/content/price_content_top_img.jpg") no-repeat 0 0 scroll; }
    #content .about-top-content .sub-top-title {
      line-height: 140px;
      padding-left: 35px; }
  #content .about-content-top {
    margin-top: 20px;
    background: transparent url("../img/content/about_content_top.jpg") no-repeat 0 0 scroll;
    height: 428px;
    position: relative; }
    #content .about-content-top .about-top-title {
      position: absolute;
      top: 15px;
      left: 10px;
      color: #FCF8F8;
      font-size: 25px;
      font-weight: bold; }
    #content .about-content-top .about-top-list {
      position: absolute;
      top: 75px;
      left: 183px;
      margin: 0;
      padding: 0;
      list-style: none; }
      #content .about-content-top .about-top-list li {
        line-height: 35px;
        display: block;
        background: transparent url("../img/content/about_content_icon.jpg") no-repeat 0 0 scroll;
        background-position: 10px;
        padding-left: 37px;
        color: #472b1a;
        text-shadow: white 0px 0px 5px;
        font-size: 17px;
        font-weight: bold; }
  #content .about-content {
    margin-top: 25px; }
    #content .about-content .about-info {
      width: 253px;
      float: left;
      border-left: 1px solid #cccccc;
      padding: 0 15px; }
      #content .about-content .about-info .about-img {
        text-align: center; }
      #content .about-content .about-info .about-title {
        text-align: left;
        padding: 15px 0;
        color: #F8792C; }
        #content .about-content .about-info .about-title .about-title-l {
          font-size: 30px;
          font-weight: bold; }
        #content .about-content .about-info .about-title .about-title-s {
          font-size: 22px;
          font-weight: bold; }
      #content .about-content .about-info .about-text {
        text-align: justify;
        color: #472b1a;
        line-height: 1.8em;
        font-size: 14px;
        padding-bottom: 15px; }
    #content .about-content .about-info:last-child {
      border-right: 1px solid #cccccc; }
  #content .about-content2 {
    margin-top: 20px;
    border-bottom: 1px dotted #bbb;
    padding-bottom: 20px; }
    #content .about-content2 .image {
      width: 344px;
      float: left;
      border: 1px solid #ddd; }
    #content .about-content2 .text {
      width: 395px;
      margin-left: 20px;
      float: left; }
      #content .about-content2 .text .about-content2-title {
        color: #F8792C;
        font-size: 25px;
        font-weight: bold; }
      #content .about-content2 .text .about-content2-text {
        margin-top: 20px;
        text-align: justify; }
  #content .about-content2:last-child {
    border-bottom: none; }
  #content .service-top-content {
    background: transparent url("../img/content/service_content_top_img.jpg") no-repeat 0 0 scroll; }
    #content .service-top-content .sub-top-title {
      line-height: 140px;
      padding-left: 35px; }
  #content .service-top-text1, #content .service-top-text2 {
    color: #F8792C; }
  #content .service-text-large {
    color: #F8792C;
    font-size: 29px;
    font-weight: bold; }
  #content .service-text-small {
    color: #F8792C;
    font-size: 22px;
    font-weight: bold; }
  #content .service-top-text3, #content .service-top-text4 {
    line-height: 1.8em;
    color: #333333;
    padding-top: 15px; }
  #content .service-top-text4 {
    width: 382px; }
  #content .service-content1 {
    margin-top: 30px;
    background: transparent url("../img/content/service_content1_bg.jpg") no-repeat 0 0 scroll;
    height: 517px;
    position: relative; }
    #content .service-content1 .service-content1-title {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 356px;
      color: white;
      font-size: 31px;
      font-weight: bold; }
    #content .service-content1 .service-content1-human {
      position: absolute;
      top: -153px;
      right: -1px; }
    #content .service-content1 .service-content-list1 {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 105px;
      left: 99px; }
      #content .service-content1 .service-content-list1 li {
        width: 175px;
        padding: 40px 10px;
        text-align: center;
        height: 125px;
        color: #333333;
        line-height: 1.4em;
        font-size: 17px;
        font-weight: bold; }
    #content .service-content1 .service-content-list2 {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 105px;
      left: 418px; }
      #content .service-content1 .service-content-list2 li {
        width: 342px;
        padding: 18px;
        height: 125px;
        color: #333333;
        line-height: 1.4em;
        font-size: 17px;
        font-weight: bold; }
  #content .service-content2 {
    margin-top: 15px;
    background: transparent url("../img/content/service_content2-bg.jpg") no-repeat 0 0 scroll;
    height: 255px;
    position: relative; }
    #content .service-content2 .service-content2-text {
      position: absolute;
      top: 143px;
      left: 380px;
      width: 364px;
      color: #333333;
      line-height: 1.8em; }
  #content .service-content2-info {
    margin-bottom: 40px;
    padding: 10px 20px 20px 20px;
    border: 3px solid #FCC8A9;
    border-top: none; }
    #content .service-content2-info .service-content2-title {
      color: #462B1D;
      line-height: 45px;
      padding-left: 12px;
      background-color: #F2F0EA;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold; }
    #content .service-content2-info .service-info {
      margin-top: 30px; }
      #content .service-content2-info .service-info .service-col {
        width: 238px;
        float: left;
        border-left: 1px solid #cccccc;
        padding: 0 12px; }
        #content .service-content2-info .service-info .service-col .service-img {
          text-align: center; }
        #content .service-content2-info .service-info .service-col .service-title {
          text-align: left;
          padding: 15px 0 5px;
          color: #F9792C;
          font-size: 22px;
          font-weight: bold; }
      #content .service-content2-info .service-info .service-col:last-child {
        border-right: 1px solid #cccccc; }
    #content .service-content2-info .serive-text {
      margin-top: 15px;
      color: #000;
      font-family: Kozuka Gothic Pr6N;
      font-size: 15px; }
  #content .example-content .example-content-info {
    margin-top: 30px; }
    #content .example-content .example-content-info .content-text {
      padding-top: 20px; }
    #content .example-content .example-content-info .image img {
      max-width: 100%;
      height: auto; }
    #content .example-content .example-content-info .example-ctf-table table {
      width: 100%; }
      #content .example-content .example-content-info .example-ctf-table table th {
        width: 130px;
        background-color: #FCE9EC;
        font-weight: normal; }
      #content .example-content .example-content-info .example-ctf-table table td {
        background-color: #EEEEEE; }
      #content .example-content .example-content-info .example-ctf-table table th, #content .example-content .example-content-info .example-ctf-table table td {
        border: 1px solid #FFF;
        font-size: 13px;
        padding: 10px 5px; }
  #content .example-content .example-group-content-row:first-child {
    margin-top: 0px; }
  #content .wpcf7 .estimation-table {
    margin-top: 20px; }
  #content .wpcf7 .estimation-table th, #content .wpcf7 .estimation-table td {
    padding: 10px 10px;
    border: 1px solid #472b1a; }
  #content .wpcf7 .estimation-table th {
    background-color: #f67a12;
    color: #472b1a;
    font-size: 14px;
    vertical-align: text-top;
    width: 150px; }
  #content .wpcf7 .estimation-table input {
    font-size: 14px;
    line-height: 18px; }
  #content .list-inline li:first-child {
    margin-left: 0px; }
  #content .list-inline li {
    float: left;
    margin-left: 10px; }
  #content .small {
    font-size: 12px; }
  #content .estimation-submit {
    width: 450px;
    height: 60px;
    display: inline-block;
    text-indent: -9999px;
    margin-top: 20px;
    background: transparent url("../img/content/estimation_content_btn.jpg") no-repeat 0 0 scroll; }
  #content .factory-top-content {
    background: transparent url("../img/content/factory_content_top_img.jpg") no-repeat 0 0 scroll; }
    #content .factory-top-content .sub-top-title {
      line-height: 146px;
      padding-left: 35px; }
  #content .factory-title {
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    color: #333333; }
  #content #category1 {
    margin-top: 20px; }
  #content .blog-title {
    color: #462B1D;
    line-height: 45px;
    padding-left: 12px;
    background-color: #F2F0EA;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold; }
  #content .post-row-content {
    margin-top: 20px; }
    #content .post-row-content .blog-btnrm {
      float: right;
      padding: 3px 8px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #f67a12; }
      #content .post-row-content .blog-btnrm a {
        color: white; }
      #content .post-row-content .blog-btnrm a:hover {
        opacity: 0.5; }
    #content .post-row-content .post-row-meta .fa {
      padding: 0 5px 0 20px; }
    #content .post-row-content .post-row-meta .fa:first-child {
      padding-right: 5px;
      padding-left: 0; }
    #content .post-row-content .post-row-meta .blog-catelogy a, #content .post-row-content .post-row-meta .blog-author {
      color: #f67a12; }
    #content .post-row-content .post-row-meta .blog-catelogy a:hover {
      color: #f00; }
    #content .post-row-content .post-row-description {
      margin-top: 10px; }
    #content .post-row-content .blog-content {
      margin-top: 10px; }
  #content .navigation {
    margin-top: 20px; }
    #content .navigation .single-blog-l a {
      float: left;
      font-weight: bold; }
    #content .navigation .single-blog-r a {
      float: right;
      font-weight: bold; }
    #content .navigation .single-blog-l a:hover, #content .navigation single-blog-r a:hover {
      color: #f67a12; }
  #content .wp-pagenavi {
    margin-top: 40px;
    text-align: center; }
    #content .wp-pagenavi .pages, #content .wp-pagenavi .previouspostslink, #content .wp-pagenavi .page, #content .wp-pagenavi .nextpostslink {
      background-color: #f67a12;
      color: #fff; }
    #content .wp-pagenavi span.current {
      border-color: #f67a12 !important; }
